In [146]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [147]:
df = pd.read_csv('Students_Performance_data_set.csv')

In [148]:
pd.set_option('display.max_column',None)

In [149]:
df.head()

,University Admission year,Gender,Age,H.S.C passing year,Program,Current Semester,Do you have meritorious scholarship ?,Do you use University transportation?,How many hour do you study daily?,How many times do you seat for study in a day?,What is your preferable learning mode?,Do you use smart phone?,Do you have personal Computer?,How many hour do you spent daily in social media?,Status of your English language proficiency,Average attendance on class,Did you ever fall in probation?,Did you ever got suspension?,Do you attend in teacher consultancy for any kind of academical problems?,What are the skills do you have ?,How many hour do you spent daily on your skill development?,What is you interested area?,What is your relationship status?,Are you engaged with any co-curriculum activities?,With whom you are living with?,Do you have any health issues?,What was your previous SGPA?,Do you have any physical disabilities?,What is your current CGPA?,How many Credit did you have completed?,What is your monthly family income?,target
0,2018,Male,24,2016,BCSE,12,Yes,No,3,2,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN
1,2021,Male,22,2020,BCSE,4,Yes,Yes,3,2,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN
2,2020,Female,21,2019,BCSE,5,No,No,3,3,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN
3,2021,Male,20,2020,BCSE,4th,Yes,No,1,3-4,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN
4,2021,Male,22,2019,BCSE,4th-summer 22,Yes,No,3/4 hours,1,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN

In [150]:
df.shape

(1194, 32)

In [151]:
df.isnull().sum()

University Admission year                                                        0
Gender                                                                           0
Age                                                                              1
H.S.C passing year                                                               0
Program                                                                          0
Current Semester                                                                 0
Do you have meritorious scholarship ?                                            0
Do you use University transportation?                                            5
How many hour do you study daily?                                                0
How many times do you seat for study in a day?                                   1
What is your preferable learning mode?                                           0
Do you use smart phone?                                                          0
Do you have personal Computer?                                                   0
How many hour do you spent daily in social media?                                9
Status of your English language proficiency                                      0
Average attendance on class                                                      0
Did you ever fall in probation?                                                  0
Did you ever got suspension?                                                     0
Do you attend in teacher consultancy for any kind of academical problems?        0
What are the skills do you have ?                                                2
How many hour do you spent daily on your skill development?                      9
What is you interested area?                                                     7
What is your relationship status?                                                0
Are you engaged with any co-curriculum activities?                              13
With whom you are living with?                                                   0
Do you have any health issues?                                                   0
What was your previous SGPA?                                                   139
Do you have any physical disabilities?                                           0
What is your current CGPA?                                                     142
How many Credit did you have completed?                                        137
What is your monthly family income?                                              2
target                                                                        1194
dtype: int64

#  Rename Columns name

In [152]:
new_column_names = {
    'University Admission year': 'Adm_Year',
    'Gender': 'Gender',
    'Age': 'Age',
    'H.S.C passing year': 'HSC_Pass_Year',
    'Program': 'Program',
    'Current Semester': 'Curr_Sem',
    'Do you have meritorious scholarship ?': 'Merit_Scholarship',
    'Do you use University transportation?': 'Uni_Transport',
    'How many hour do you study daily?': 'Study_Hours',
    'How many times do you seat for study in a day?': 'Study_Sessions',
    'What is your preferable learning mode?': 'Learn_Mode',
    'Do you use smart phone?': 'Smartphone',
    'Do you have personal Computer?': 'PC',
    'How many hour do you spent daily in social media?': 'SM_Hours',
    'Status of your English language proficiency': 'Eng_Proficiency',
    'Average attendance on class': 'Avg_Attendance',
    'Did you ever fall in probation?': 'Probation',
    'Did you ever got suspension?': 'Suspension',
    'Do you attend in teacher consultancy for any kind of academical problems?': 'Teacher_Consultancy',
    'What are the skills do you have ?': 'Skills',
    'How many hour do you spent daily on your skill development?': 'Skill_Dev_Hours',
    'What is you interested area?': 'Interest_Area',
    'What is your relationship status?': 'Relationship',
    'Are you engaged with any co-curriculum activities?': 'CoCurricular',
    'With whom you are living with?': 'Living_Arrangement',
    'Do you have any health issues?': 'Health_Issues',
    'What was your previous SGPA?': 'Prev_SGPA',
    'Do you have any physical disabilities?': 'Physical_Disabilities',
    'What is your current CGPA?': 'Curr_CGPA',
    'How many Credit did you have completed?': 'Completed_Credits',
    'What is your monthly family income?': 'Family_Income',
    'target': 'Target'
}

# Rename the columns
df.rename(columns=new_column_names, inplace=True)

In [153]:
df.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Curr_Sem,Merit_Scholarship,Uni_Transport,Study_Hours,Study_Sessions,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target
0,2018,Male,24,2016,BCSE,12,Yes,No,3,2,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN
1,2021,Male,22,2020,BCSE,4,Yes,Yes,3,2,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN
2,2020,Female,21,2019,BCSE,5,No,No,3,3,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN
3,2021,Male,20,2020,BCSE,4th,Yes,No,1,3-4,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN
4,2021,Male,22,2019,BCSE,4th-summer 22,Yes,No,3/4 hours,1,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN

# Feaure Engineering

In [154]:
df['Curr_Sem'].unique()

array(['12', '4', '5', '4th', '4th-summer 22', '4rth - summer 22', '4rth',
       'Summer 22', '4th- summer 2022', '4th semester', '4th semester ',
       '2nd', '2', 'Secound ', '2nd ', '11', '2nd, summer 2022',
       'Second ', 'Summer-2022', 'Summer 2nd', 'Summer 2022',
       'Summer 2022(2nd semester)', 'Summer 2022- 8th', '8th semester',
       '8th semester ', '2nd semester ', '8th', '8', 'Second', '8th ',
       '8th Semester ', 'Summer 2022 (8th)', '10', 'Summer-22', '5th',
       '11th', '10th', 'Second semester ', '9th',
       'Summer 2022 (2nd semester)', '13', '15th', '14', '9th ', '9',
       '8 Semister ', '6th', '5th summer-2022', '11 semester ', '7',
       '2nd Semester', "Summer 2022'", '15', '9th semester ', '12th',
       'Last Semester ', '2nd semester', '7th', '8 semester ',
       'Summer-22(4th)', '2nd (Summer)', '22', '2 nd', '18',
       '9 semester ', '4r th summer 2022', '4th(summer)', '1st semester',
       'First', '2nd/summer 2022', 'Summer20222', '17', '1st',
       '1st semester ', 'Fresher', 'Summer2022', '3rd', 'First ', '3',
       '3rd ', '14(dropped 7 semester)', 'First semister ',
       '7th semester', 'Summer ', '11 th', '1', 'Third', '19',
       'summer 1st semister', '6', 'summer 1st', 'Fresher ',
       '3rd semester (summer-2022)', 'Seven', 'Summer', '5th semester ',
       '3rd semester ', 'Summer 22 ', 'Six', 'Fall', '14th', '3d',
       '5th Semester ', '2nd Semester ', '8TH',
       '2nd semester (summer 22)', 'summer 2022', '5th( summer22)',
       'Second semester', '2nd semester (summer 2022)',
       '2nd Semester Summer 2022', 'First Semester ', '8th Semester',
       '2nd semester (summer-2022)', 'Summer 22(2nd semester)', 'Final',
       'Last semester ', 'summer -22(2nd semester)', '3rd semester',
       '2nd ( Summer)', '2nd (Summer 2022)', '2nd semester summer 2022',
       '8 th', '13th', 'summer 22 (8th)', '3rd semester (sammar 2022)',
       'SUMMER 2022 (8TH SEMESTER)', '11th semester ', '11 th ',
       '8th (Summer 2022)', '2nd Semester.', '11th(summer 2022)',
       '15103038', 'Finished ', '8 semester', '3ird',
       '2nd Semester (Summer 2022)', '11 semester', 'Sixth', '1810 Batch',
       '10 th', 'Summer 2022 1st year', '05', 'Summer 2022 (10th)', '24',
       '8th Semeter', 'SUMMER-22', '3 rd', 'Eleven ', 'summer', '10th ',
       '5th ', '11th ', '6th '], dtype=object)

In [155]:
import pandas as pd
import re



def standardize_semester(sem):
    sem = str(sem).lower()

    # Extract numeric values
    sem_numeric = re.search(r'\d+', sem)
    if sem_numeric:
        sem_numeric = sem_numeric.group()
    else:
        sem_numeric = ""

    # Map common representations to standardized format
    if '1st' in sem or 'first' in sem or 'fresher' in sem:
        return '1st'
    elif '2nd' in sem or 'second' in sem:
        return '2nd'
    elif '3rd' in sem or 'third' in sem:
        return '3rd'
    elif '4th' in sem or 'fourth' in sem:
        return '4th'
    elif '5th' in sem or 'fifth' in sem:
        return '5th'
    elif '6th' in sem or 'sixth' in sem:
        return '6th'
    elif '7th' in sem or 'seventh' in sem:
        return '7th'
    elif '8th' in sem or 'eighth' in sem:
        return '8th'
    elif '9th' in sem or 'ninth' in sem:
        return '9th'
    elif '10th' in sem or 'tenth' in sem:
        return '10th'
    elif '11th' in sem or 'eleventh' in sem:
        return '11th'
    elif '12th' in sem or 'twelfth' in sem:
        return '12th'
    elif '13th' in sem or 'thirteenth' in sem:
        return '13th'
    elif '14th' in sem or 'fourteenth' in sem:
        return '14th'
    elif '15th' in sem or 'fifteenth' in sem:
        return '15th'
    elif 'final' in sem:
        return 'final'
    else:
        return sem_numeric

# Apply the function to the 'Curr_Sem' column
df['Curr_Sem1'] = df['Curr_Sem'].apply(standardize_semester)

In [156]:
df.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Curr_Sem,Merit_Scholarship,Uni_Transport,Study_Hours,Study_Sessions,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1
0,2018,Male,24,2016,BCSE,12,Yes,No,3,2,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12
1,2021,Male,22,2020,BCSE,4,Yes,Yes,3,2,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4
2,2020,Female,21,2019,BCSE,5,No,No,3,3,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5
3,2021,Male,20,2020,BCSE,4th,Yes,No,1,3-4,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4th
4,2021,Male,22,2019,BCSE,4th-summer 22,Yes,No,3/4 hours,1,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4th

In [157]:
df['Curr_Sem1'].unique()

array(['12', '4', '5', '4th', '22', '2nd', '2', '', '11', '2022', '8th',
       '8', '10', '5th', '11th', '10th', '9th', '13', '14', '9', '6th',
       '7', '15', '12th', '7th', '18', '1st', '20222', '17', '3rd', '3',
       '1', '19', '6', 'final', '13th', '15103038', '1810', '05', '24'],
      dtype=object)

In [158]:
df[df['Curr_Sem1'].isin(['15103038', '1810'])]

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Curr_Sem,Merit_Scholarship,Uni_Transport,Study_Hours,Study_Sessions,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1
644,2015,Male,26,2014,BCSE,15103038,No,Yes,five,4 times,Offline,Yes,Yes,half an hour,Intermediate,100 %,Yes,Yes,Yes,Programming,1 hour,Software,Single,No,Bachelor,No,3.22,No,2.83,103,25000 BDT,NaN,15103038
680,2018,Male,24,2017,BCSE,1810 Batch,No,No,3 hour,1/2 time,Online,Yes,Yes,1/2 hour,Basic,98%,Yes,No,Yes,Programming,2,UI/UX,Married,No,Bachelor,No,2.86,No,2.88,133,"30,000",NaN,1810

In [159]:
df = df[~df['Curr_Sem1'].isin(['15103038', '1810'])]

In [160]:
df['Curr_Sem1'].unique()

array(['12', '4', '5', '4th', '22', '2nd', '2', '', '11', '2022', '8th',
       '8', '10', '5th', '11th', '10th', '9th', '13', '14', '9', '6th',
       '7', '15', '12th', '7th', '18', '1st', '20222', '17', '3rd', '3',
       '1', '19', '6', 'final', '13th', '05', '24'], dtype=object)

In [161]:
df['Curr_Sem1'] = df['Curr_Sem1'].replace({
    '20222' : '2',
    '' : np.nan
})

In [162]:
df= df[~df['Curr_Sem1'].isin(['final'])]

In [163]:
df['Curr_Sem1'].unique()

array(['12', '4', '5', '4th', '22', '2nd', '2', nan, '11', '2022', '8th',
       '8', '10', '5th', '11th', '10th', '9th', '13', '14', '9', '6th',
       '7', '15', '12th', '7th', '18', '1st', '17', '3rd', '3', '1', '19',
       '6', '13th', '05', '24'], dtype=object)

In [164]:
df['Curr_Sem1'] = df['Curr_Sem1'].replace({
    '2nd' : 2,
    '4th' : 4,
    '8th' : 8,
    '5th' : 5,
    '11th' : 11,
    '10th' : 10,
    '9th' : 9,
    '6th' : 6,
    '12th' : 12,
    '7th' : 7,
    '1st' : 1,
    '3rd' : 3,
    '13th' : 13,
   
})

In [165]:
df['Curr_Sem1'].fillna(df['Curr_Sem1'].median(),inplace=True)

In [166]:
df['Curr_Sem1'] = df['Curr_Sem1'].astype(int)

In [167]:
#drop cur_sem column
df.drop(['Curr_Sem'],axis=1, inplace=True)

In [168]:
df['Study_Hours'].unique()

array(['3', '1', '3/4 hours', '2/3 hours', '2', '3-4', '5', 'Varies',
       '3 hour to 4 hour', '1 hour', '3/4', '5 hours', '5 hour',
       'Depending on the complexity of the topic', '3hours', '2 hour',
       '6', '1-2 hours', '3 hour', '4-5 hour', '2/3 hours ', '4', '8',
       '2/3', '4hours', '5-6 hr', '3 h', '3 hours', '7 hours ', '2h - 3h',
       '2-3 hour', '4-5', '2hour ', '1-2', '3/4 hour', '3-4 hours',
       '3 Hours ', '8-9', '4 hours ', '5/6 h', 'Less than 1 hour ',
       '3.hour', 'Before the night of examination ', 'Almost 4 hour',
       '2-3hours', '2-3', '2/3 hour', '3-5 hours', '2 hr', 'Yes',
       '1.5 hour', '2-3 hours', 'More than 8 hours', 'Three hour',
       '7 hours', '5hr', '1-2 hour', 'Not regular ', '4 hour', '6-7hr',
       '4h', '2 or 3', '3-4h', '7 to 13', '2-4 hours', '10 hour',
       '5-6 hour', '  Approximately 1-2 hours in home', '3hrs',
       '3 to 4 hour', '4/5 hour', '2,3', 'Whenever I want', '3 hours ',
       '7', 'Not fixed', '2 to 3', '4/6 hour', '2 hours', '8/9 hour',
       '6-7', '1,2h', '6 hours', '5-6 hours', '4 hours', '4 to 5', '6/7',
       '7/8', '4/5', '7-8', 'Highest 1 hour', '2h average ', '1 Hour',
       '2/3 hours but sometimes more,It depends on my need.',
       'Maximum 3 hours', '1.5/2 (home)', '5-6 H', '5hours more',
       '2 or more than 2', '3 or 4 ', '5/6', '1 hour at home', '1hour',
       '3-5', '4-5 hours', '0-2', '4hrs', '2 or 3 hours ', '1.5 Hours ',
       '6  hour', '1 or 2 hour ', '2hr', '9', 'minimum 1hour',
       'maybe 1 or 2 hour', '2-4', '2h', '4hour',
       'Less than 1 hour and attend the daily class.', '3 to 4 hours',
       'Hardly 1-2 hour', '0', '00ðŸ™‚', '2 hr or 3 hr', 'Overall 8 hours ',
       '8-9 hours', '5 but holiday 10', "I don't study regularly ",
       '1-3 hours', '6hour', '5 hours ', '2-3hour', '4-5hours',
       '1 hour(sometimes less than that)', '8 hour', '2 hours ',
       'Under of 2 hour maybe', '5 hour.', '1/2', 'Around 4 hour',
       '6 hour', '04', '1hr', '3hour', '(3-4)hour', '6-7 hours', '12hr',
       '2 to 3 hours', '00', '2hrs', '2.5-3 hours', '4 to 6 hours',
       ' 5 hours per day  ', '1 or 2',
       "I don't have time to study at home. I go to varsity in the morning and come back again at 8 p.m. Then I am very tired, after some time I go to sleep.I don't read everyday.",
       '4 to 5 Hours ', '4 to 6', 'honestly 1-2hour in free time',
       '5/6 hour', 'average 5 minuets', 'Outside of university 4 hour',
       'One', '2-1 hour ', 'I do not study daily ', '2 to 3 hours ',
       '2Hours', '3hr', '2-3 hours ', '30 min',
       'Less than 30 minutes sometime 0 ', '3h', '7 to 9', '3hr or 5 hr',
       '2hours ', '-', '4-6', '7hours', '5-6', '2-3hrs', '4- 5 hour',
       '4 hr', '0-1 hour', 'Depends on exademic pressure. ',
       '30 minutes ', '3,4 hour ',
       '4 hours ( excluding university time ) ', '10', '3 to 4',
       '5 or 6 ', '5-10 HOURS', '1-2 Hours', '3-4 hours ', '5hour',
       '2/3 hour (For Academic). But during university break time, most of the time I try to complete my daily study.',
       '4hr', '3 hr', '1 or 2 hour', 'yes', 'One hour', '0 - 10', '4-5h',
       'Without varsity time normally 2:00 - 2:30 hours.',
       '10-15 minutes and whole night before exam', '6 H', '13 to 14',
       ' 3 hour', 'Two maximum', '1-3', '2hour', '1 to 2', '2/3hours',
       '3-4hours', '2 hour ', '3 hour+', '3/4 ', '9 hours', '2-4hours',
       '2hrs ', '3 /4 hours', '4 hour average ', '03', '4/5 hours',
       '3-4 ', '2 hours Approx', 'It is not limited.', '5- 6', '5hours',
       '1 hours', '1:30/2 hours', '8 hours', '6 hours ', '5  hours',
       '2hours'], dtype=object)

In [169]:
# Function to preprocess study hours
def preprocess_study_hours(hours):
    # Extract numeric values
    hours_numeric = re.findall(r'\d+', str(hours))

    # If there are multiple numeric values, take the average
    if hours_numeric:
        hours_numeric = [int(num) for num in hours_numeric]
        average_hours = sum(hours_numeric) / len(hours_numeric)
        return average_hours
    else:
        return None

# Apply the function to the 'Study_Hours' column
df['Study_Hours1']= df['Study_Hours'].apply(preprocess_study_hours)

In [170]:
df['Study_Hours1'].unique()

array([ 3.        ,  1.        ,  3.5       ,  2.5       ,  2.        ,
        5.        ,         nan,  6.        ,  1.5       ,  4.5       ,
        4.        ,  8.        ,  5.5       ,  7.        ,  8.5       ,
        6.5       , 10.        ,  7.5       ,  2.66666667,  9.        ,
        0.        , 12.        ,  3.33333333, 30.        , 15.        ,
        0.5       , 12.5       , 13.5       , 11.        ])

In [171]:
print(df['Study_Hours'].isnull().sum())
print(df['Study_Hours1'].isnull().sum())

0
17

fill NaN values with the median for the first 50% of missing values and with the mean for the remaining 50%

In [172]:
median_value = df['Study_Hours1'].median()
mean_value = df['Study_Hours1'].mean()

# Replace NaN values with median for 50% of the missing values and mean for the other 50%
half_nan_count = df['Study_Hours1'].isna().sum() // 2
df['Study_Hours1'].fillna(value=median_value, limit=half_nan_count, inplace=True)
df['Study_Hours1'].fillna(value=mean_value, inplace=True)

In [173]:
df.drop(['Study_Hours'],axis=1, inplace=True)

In [174]:
df.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Study_Sessions,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1
0,2018,Male,24,2016,BCSE,Yes,No,2,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0
1,2021,Male,22,2020,BCSE,Yes,Yes,2,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0
2,2020,Female,21,2019,BCSE,No,No,3,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0
3,2021,Male,20,2020,BCSE,Yes,No,3-4,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0
4,2021,Male,22,2019,BCSE,Yes,No,1,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5

In [185]:
df['Study_Sessions'].unique()

array(['2', '3', '3-4', '1', '2 Times', '4', '2 times ', 'Varies',
       '1 time', '2 time', '2 times', '3 times', '2 to 3 ', '2 or 3 ',
       '3hours', '1/2', '1-2', '3-4 times', 'one time', '5-6', '4-5',
       '1 or 2', '2mins', '2-3 hr', '5', '3 hours', '2/3',
       'One or two times', '2/3 times', 'One time', 'Ones ', 'Random',
       '1 time ', '3/4', 'One .exam time hole day', '1 or 2 times',
       '1 or 2 time ', 'Less then 1 time ', '1time', '4/5 hour', '1or2',
       '4 hours', 'Tow times', '1 Time', '2 or 3 times', '1times', '4th',
       '1 hour', '5-6 ', '2 time ', '3-4times', '5-6 Times ', '1/2 times',
       '20/30 times a day', '2 or 3', 'Based on circumstances ', '2-3',
       'Not fixed', '2 hour', '3/4 times', '7 hour', 'Depend on the day.',
       '1 times', '7 hours', 'many times', '5/6', 'Itâ€™s depend ', '6',
       '3 time', 'Twice ', '10', '2-3 times at University ', '8',
       '1/2 time', '3 or 4', 'One Time', '2-3 times', '01', 'once',
       '3times', '3-4 hours ', 'Many times but in a short duration. ',
       'around 3 or 4 times', '3-4hours', '0', '0 time', '3 hour',
       '2time', '1-2 time', '1h', '4/5', '3/4 ', '0 times', '1 time day',
       '2hour', '3 times ', '1-2 ', '2-3times', '3-4 hour', '8 hours',
       '1-2 hour', '3 hoirs', '3/4 times.', 'Twice', '2hours', 'Once ',
       '3-4 ', '1 or 2 ', 'once a day', '2times', '2/3 times ',
       '4/5times', '1(Night)', '1 time in a day', 'Multiple', '1time ',
       '2 times probably ', '2 hours',
       'Basically, I seat for study at night. But when I get free time , In that time I seat for study. So Two times i seat for study.',
       'Once', '1-2 hours',
       '2 or 3 times. First 1 hour then take a gap then again seat for stufy',
       '6-7 times', '2-1 hour ', '1/2 ', '3-5', 'Same', 'Several times ',
       'Depends on Exam', '1 to 2 times', '2or 3 ', '-', '2 hours ',
       '4-5 ', '5 to 6', '2 Time', 'Hardly one', '2/3 time', 'Night ',
       '2 times(morning time and night time) ', '2-3 TIMES',
       '4 day -1 time  another 3 day- 2/3 times', '5 times', '4hr',
       '1-2 times in average ', 'two times', '3times a day', '2/3 times.',
       '1 times ', '1 hours', '2/1', '0 - 5', '4 day', 'one of two times',
       '4 H', '2 to 3 times', '00', '7', '30', "2 time's ", 'one',
       '3/4 hour', '2hrs', '4 hour', '03', '3-4times ', 'Once,, at night',
       'Often but not effective ', '4 times', '4 times ', '6 times', nan],
      dtype=object)

In [194]:
import pandas as pd

def preprocess_study_sessions(df):
    """Preprocesses the 'Study_Sessions' column in a DataFrame."""

    def handle_value(value):
        """Handles individual values in the 'Study_Sessions' column."""
        
        if isinstance(value, str):  # Check if the value is a string before applying string methods
            value = value.lower()  # Convert to lowercase for consistency
            value = value.strip()  # Remove leading/trailing whitespace

            # Handle specific cases:
            if value in ["none", "not applicable", "n/a", "-"]:
                return 0  # Assign 0 for "no study sessions"
            elif "hour" in value or "hr" in value:  # Extract hours from text
                try:
                    hours = float(value.split()[0])
                    return hours  # Return numerical hours
                except ValueError:
                    return None  # Handle invalid hour formats
            elif "-" in value:  # Extract numerical range for ambiguous cases
                try:
                    parts = value.split("-")  # Split the string into parts before conversion
                    start = float(parts[0])
                    end = float(parts[1])
                    return (start + end) / 2  # Return average of the range
                except ValueError:
                    return None  # Handle invalid range formats
            elif "time" in value or "times" in value:
                try:
                    times = float(value.split()[0])
                    return times  # Return numerical times
                except ValueError:
                    return value  # Keep as-is for unclear cases
            else:
                return value  # Keep remaining values as-is
        else:
            return value  # Keep non-string values as-is

    # Apply the handling function to each value and update the 'Study_Sessions' column:
    df['Study_Sessions1'] = df['Study_Sessions'].apply(handle_value)

    # Handle remaining inconsistencies:
    # df['Study_Sessions'] = pd.to_numeric(df['Study_Sessions1'], errors='coerce')  # Convert to numeric, handling errors

    return df

# Apply the preprocessing:
df1 = preprocess_study_sessions(df.copy())  # Create a copy to avoid modifying the original DataFrame

In [203]:
import pandas as pd

def preprocess_study_sessions(df):
    """Preprocesses the 'Study_Sessions1' column in a DataFrame."""

    def handle_value(value):
        """Handles individual values in the 'Study_Sessions1' column."""
        
        if pd.isna(value):
            return None  # Keep NaN values as-is

        if isinstance(value, (int, float)):
            return value  # Keep numeric values as-is

        if isinstance(value, str):  # Check if the value is a string before applying string methods
            value = value.lower()  # Convert to lowercase for consistency
            value = value.strip()  # Remove leading/trailing whitespace

            # Handle specific cases:
            if value in ["none", "not applicable", "n/a", "varies", "random", "one .exam time hole day",
                         "less then 1 time", "itâ€™s depend", "basically, i seat for study at night. but when i get free time , in that time i seat for study. so two times i seat for study.",
                         "same", "several times", "depends on exam", "hardly one", "night",
                         "one of two times", "once,, at night", "often but not effective"]:
                return None  # Assign None for non-numeric values

            try:
                return float(value)  # Try converting to float
            except ValueError:
                return None  # Handle invalid numeric formats

    # Apply the handling function to each value and update the 'Study_Sessions1' column:
    df['Study_Sessions1'] = df['Study_Sessions1'].apply(handle_value)

    return df

# Apply the additional preprocessing:
df1 = preprocess_study_sessions(df1.copy())  # Create a copy to avoid modifying the original DataFrame

In [212]:
df1['Study_Sessions1'].unique()

array([ 2. ,  3. ,  3.5,  1. ,  4. ,  nan,  1.5,  5.5,  4.5,  5. ,  2.5,
        7. ,  6. , 10. ,  8. ,  0. ])

In [211]:

df1 = df1[~df1['Study_Sessions1'].isin([30])]

In [214]:
df1.drop(['Study_Sessions'],axis=1,inplace=True)

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\441148064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['Study_Sessions'],axis=1,inplace=True)

In [216]:
df1.head(5)

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0

In [217]:
df1['SM_Hours'].unique()

array(['5', '2-3', '3', '2', '2hours', '1 hour and 2/3 hours in holiday ',
       '2 hour', '2.5 hrs', '2 hours', '1 hour', '1/2hr', 'Average 1 hr',
       'Almost 1 hour', 'It depends ', '3-4 hour', 'Less than 3 hours',
       'Less than 1', '3-4hour', 'more than 4 hours ', '4/5', '1',
       '3/4hours', '5/6', '3-4 hr', '6', '2 h', '1 hours', '1-2',
       '15-20 minutes', '5 hours ', 'Almost 2 hour', '7 to 8 hour',
       '1/2 hours', '4hour', '4-5', 'More than 4 hours ', '2hour ',
       'less then 2/3 hour ', '4', '4 hours', '2-3 hour ', '1.5',
       '2 hours ', '2/3h', '8', 'Not define', '1 hour at most ',
       '15 hour ', '3 hours', '6-7hours', '1/2 hour',
       'Less than an hour ', '1-3 hours', '5 hr', '4-5 hr', 'Yes',
       '1-2 hours', 'Not more than 1 hour', 'A lot', '10 Hours', '3hr',
       '4-5 hour', '3-4hours', 'When I feel free', '10-15 min', '1 hour ',
       '7 hour', '3-4h', '2/3 hours', '30 min', '5 hour',
       'it varies less than 1/2 hours approximately in a day. ',
       '2-3 hours', '3/4', '3/4 houra', 'Few time',
       'Lots of hour like half of a day', '2hr', '6 hour', '4 to 5 hour',
       '4 hour', '2/3 hour', '3hr 44minutes', ' not appointed ',
       'Not fixed', 'Half hour', '2-3hr', '2 or 3 hours', '20min', '2-3h',
       'Average 3 hours', '2 or 3', '4/5 hours', '6-7 hour', '6-7 hours',
       '1 hr may be', '6 hours', '6-7 hours ',
       'Too much too.. Maybe 2 hour', '1hr', '15', '1/2', '5 hours',
       '20-30mintues', '1-2 hour', '12', 'Highest 2-3 hour', '3/4h',
       '30-40 Minutes', '1 hour or sometimes less than 1 hour', '2/3',
       'Maximum time while needed', 'Almost 3 hour', '3-4', '2H ', '10+',
       'Less than 1 hour', 'Around 3 hours', '7-8 hours', '2/3hour',
       '4 /5', '1-2hrs', '1hour per day', '1-3', '3hrs', '1 hours ',
       'Around 2-3 hours ', 'More than 1 hour', '2-3 hour', '5-6 ',
       '2 hour ', '1-2 hour ', '1/2 hr', '3,4 hours', '3 to 4 hours',
       'maybe 2 hour in total including youtube ', '3-4 ', '0', '5h',
       'Too much ', '3 hour', 'around 2 hours', '1-2hours',
       'in Youtube 1 hour', 'Maximum 1hour', '5/6 hours', '12-16 hours',
       '5/6 hr', '5-10 min', 'Maximum 1 hour', '7', 'All the time',
       "Don't know", '4 hours ', 'Maximum ', '5-6 hours', '8 houre',
       '1/2-1hours', '2-4Hours (probably) ', '4 hour.', '30 minutes ',
       '3 hours ', '1hour', 'More than 5 hours ', 'less', 'Around 2 hour',
       '3-4 hours', '12-13', '02', 'two hours', '3h', '4+', '2hour',
       '1/2hrs', 'Many hours', '10 hours ', '1 or 2', '1hours',
       '2 hours (  probably ) ', '2/3hours',
       'I spend a lot of time on social media. But talk less with others. I am active on social media for no reason.',
       '5 to 6 hours ', 'not sure ', '1hour maximum 1.30 hour',
       'not more than 1 hour', '3hour', 'Around 1-1.5 hours', '12 hour',
       "I remain active all the time because of wifi ..but I don't spent time on it",
       '3-4 hour ', '2 to 3', '1h', '5 hourhourt',
       'As much time as I get in the middle break time of class like 3hours in a day I spent in social media ',
       '1 to 2 hours ', '7/8 hours', '2/3 hours ', '2h', 'Around 1 hours',
       '4\\5', '1 to 3 hours', '4hr or 5hr ', ' 3 or 4hour', '3/4 hours',
       'Unlimited, mainly i donâ€™t know, itâ€™s maybe 2,  3 hours or may not  ',
       '30 minutes or 1 hours', '1-2 ', '1 or 2 hr', ' 2 to 3',
       'Not more than 2 hour ', '1 Hour', '3 - 4 hour', '10-12 hourse',
       '4 hr', '5-6 hours ',
       'Except my sleep all day long in different purposes ', '16', '5-6',
       '3 hour ', '4 or 5', '3-4 hours ', '2-4', '3 to 4', '1.5 hour ',
       '4-6', '12-15 hour', '20', '2-3 HOURS', 'At least 2 hour ',
       '1.5 hours', '6 hr', 'Less than an hour', '2/3 hour ',
       '2/2.5 hour', 'NO', '1 hr', '1 hours max',
       'About 45 minutes to 1 hour', 'Less than 4 hours', '2/1', '0 - 2',
       '7-8h', 'less than 3 hour', '1:00 - 1:30 hours', '4-5 hours',
       '6 H', 'Max 1 hour', '2 to 4hours', 'More than 2 hours',
       'Depends ', '10  hours', 'Almost 2', '20 to 30 minuets ',
       '5 hour +', '2hrs', 'Facebook ', 'Mostly 1 hour', '2 Hours', '03',
       '3/4 ', 'Half an hour', '1 hour Approx',
       'Unlimited time spent in social media.', '10 hours', '2hrs max ',
       '10', '2 or 3 hour', '1 hour (approx.)', '5 or 6', '7 hours',
       '8 hours', '11 hours', '9 hours', nan, '4 Hours', '8 hours ',
       '4 Hours ', '12 hours'], dtype=object)

In [238]:
import pandas as pd

def preprocess_sm_hours(df):
    """Preprocesses the 'SM_Hours' column to convert values into numeric hours.

    Args:
        df: A pandas DataFrame containing the 'SM_Hours' column.

    Returns:
        A pandas DataFrame with the preprocessed 'SM_Hours' column.
    """

    df['SM_Hours'] = df['SM_Hours'].str.replace(r'\D', '', regex=True)  # Remove non-numeric characters

    def handle_imprecise_values(value):
        """Converts imprecise values to numerical ranges."""
        if pd.isna(value) or value == '':
            return pd.NA  # Return NA for empty strings or NaN values
        try:
            value = float(value)  # Convert to float if the value is already numeric
        except (ValueError, TypeError):
            pass  # Continue with the original value if conversion fails

        if isinstance(value, float):
            return value  # Return float values as-is

        if '-4' in str(value):
            return 3.5  # Midpoint of 3-4 hours
        elif '-5' in str(value):
            return 4.5  # Midpoint of 4-5 hours
        elif '-6' in str(value):
            return 5.5  # Midpoint of 5-6 hours
        elif '-7' in str(value):
            return 6.5  # Midpoint of 6-7 hours
        elif '/' in str(value):
            return float(str(value).replace('/', '.'))  # Convert fractions to decimals
        elif 'more than' in str(value).lower():
            return float(str(value).lower().replace('more than ', ''))  # Retain value as a lower bound
        elif 'less than' in str(value).lower():
            return 0  # Assume 0 hours for "less than" responses
        else:
            return float(value)

    df['SM_Hours1'] = df['SM_Hours'].apply(handle_imprecise_values).astype(float)

    # Handle additional cases and potential errors:
    df.loc[df['SM_Hours1'] > 24, 'SM_Hours1'] = 24  # Cap values at 24 hours
    df.loc[df['SM_Hours1'] < 0, 'SM_Hours1'] = pd.NA  # Set negative values to NA
    df.loc[df['SM_Hours1'].isna(), 'SM_Hours1'] = pd.NA  # Fill missing values with NA

    return df

# Apply the preprocessing function:
# df1 = preprocess_sm_hours(df1.copy())  # Work on a copy to avoid modifying the original DataFrame

In [241]:
df.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Study_Sessions,Learn_Mode,Smartphone,PC,SM_Hours,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1
0,2018,Male,24,2016,BCSE,Yes,No,2,Offline,Yes,Yes,5,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0
1,2021,Male,22,2020,BCSE,Yes,Yes,2,Online,Yes,Yes,2-3,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0
2,2020,Female,21,2019,BCSE,No,No,3,Offline,Yes,Yes,3,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0
3,2021,Male,20,2020,BCSE,Yes,No,3-4,Offline,Yes,Yes,2,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0
4,2021,Male,22,2019,BCSE,Yes,No,1,Online,Yes,Yes,2hours,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5

In [242]:
df['Study_Hours1'] = df1['SM_Hours1']

In [244]:
df1['SM_Hours1'].unique()

array([ 5.  ,  2.  ,  3.  ,  1.  ,  2.5 ,   nan,  4.  ,  6.  , 15.  ,
        7.  ,  1.5 ,  8.  , 10.  , 30.  , 20.  , 12.  ,  0.  ,  0.5 ,
       16.  ,  0.75, 11.  ,  9.  ])

In [245]:
df1['SM_Hours1'].isnull().sum()

50

In [246]:
df1 = df1[~df1['SM_Hours1'].isin([30])]

In [247]:
df1['SM_Hours1'].unique()

array([ 5.  ,  2.  ,  3.  ,  1.  ,  2.5 ,   nan,  4.  ,  6.  , 15.  ,
        7.  ,  1.5 ,  8.  , 10.  , 20.  , 12.  ,  0.  ,  0.5 , 16.  ,
        0.75, 11.  ,  9.  ])

In [251]:
df1.drop(['SM_Hours'],axis=1,inplace=True)

In [252]:
df1.shape

(1187, 32)

In [253]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Avg_Attendance,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,90,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0,5.0
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,Basic,96,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0,2.0
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,Intermediate,80%,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0,3.0
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,I try to join all the time but some of the tim...,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5,2.0
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,Intermediate,80%,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0,2.0

In [254]:
df1['Avg_Attendance'].unique()

array(['90', '96', '80%',
       'I try to join all the time but some of the time i was sick thats why my attendance record is now bad',
       '95â„…', '80', '100%', '90%', '97%', '95%+', '95%', '70 percent ',
       '70%', '96%', '98%', 'Above 85%', '97', '70/80%', '100', '95',
       '99%', '98-100%', 'Above 95%', '80-90%', '70-80 percent ', '85',
       '70', '96-97', 'Ragular ', '85-95%', '85%', 'Yes', 'Regular',
       '90-95', '99', '50%', 'More than 95%', '72-75%', '70-80%',
       'No idea', '2.5', '87%', 'Regular ', '90% up', '40%', '5%', '97 %',
       '90-95%', 'Over 90%', '99.50%', '85 %plus', '50-60%',
       'Regular in class', 'Only one class miss.', '65%', 'Full ',
       'Above 90%', 'Everyday attend class without any serious problem ',
       'Everyday ', '75%+', '90%+', '2%', '85-90%', '50/60%', '100â„…',
       '100%ðŸ™‚', 'regular ', '85 percent', '75-80%', 'Obviously ',
       '99.90%', '100% Attendance ', '98â€°', '60%', '98 percent',
       '90  percentage ', 'Almost 100%', '96-97%',
       '100% class attendence ', '92%', 'Nearly 100%', '75%',
       'Nearly 100% ', '98', '75',
       'I missed only one class. In that time, I was so sick. ', '88',
       '94-98', 'Less then 3', 'regular', '0% absence ', '95-98%', '60',
       '10%', '90%-95%', 'All most full', '80%-90%', '37',
       'try to be 90% + present.', '93%', '90-100%', '88%', '95-100%',
       '78%', 'full', '99.99%', '90/95%', '50 %', 'More then 90%', '80+',
       'one class i missed', '57', 'Still now 100% attendence', '96-100%',
       '90%-92%', 'More than 90%', '86%', '100 %', '50-75%', '0%',
       '93-95%', '54%', '77%', '68%', '45%', '46%', '51%', '34%', '56%',
       '76%', '63%', '89%', '79%', '35%', '62%', '41%', '83%', '84%',
       '67%', '72%', '42%', '47%', '23%', '55%', '32%', '66%', '30%',
       '43%', '71%', '31%', '64%', '73%', '24%', '57%', '91%', '81%',
       '53%'], dtype=object)

In [271]:
import pandas as pd
import re

# Assuming df1 is your DataFrame
# Convert the column to string to handle non-string entries
df1['Avg_Attendance'] = df1['Avg_Attendance'].astype(str)

# Define a function to clean and standardize attendance values
def clean_attendance(value):
    # Remove non-alphanumeric characters
    value = re.sub(r'[^a-zA-Z0-9%]', '', value)
    
    # Extract percentage values
    if '%' in value:
        # Extract numeric values only
        value = re.search(r'\d+', value).group()
        value = int(value)
        # Standardize percentages to be within 0-100 range
        value = min(max(value, 0), 100)
    else:
        # If not a percentage, try to convert to integer
        try:
            value = int(value)
        except ValueError:
            # If conversion fails, set to NaN
            value = float('nan')

        # Ensure the value is within 0-100 range
        value = min(max(value, 0), 100)

    return value

# Apply the clean_attendance function to the 'Avg_Attendance' column
df1['Avg_Attendance1'] = df1['Avg_Attendance'].apply(clean_attendance)

# Drop rows with NaN values if necessary
# df1 = df1.dropna(subset=['Avg_Attendance'])

# Print unique values after preprocessing
print(df1['Avg_Attendance1'].unique())

[ 90.  96.  80.  nan  95. 100.  97.  70.  98.  85.  99.  50.  25.  87.
  40.   5.  65.  75.   2.  60.  92.  88.   0.  10.  37.  93.  78.  57.
  86.  54.  77.  68.  45.  46.  51.  34.  56.  76.  63.  89.  79.  35.
  62.  41.  83.  84.  67.  72.  42.  47.  23.  55.  32.  66.  30.  43.
  71.  31.  64.  73.  24.  91.  81.  53.]

In [272]:
df1['Avg_Attendance1'].isnull().sum()

30

In [273]:
df1.drop(['Avg_Attendance'],axis=1,inplace=True)

In [274]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0,5.0,90.0
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,Basic,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0,2.0,96.0
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0,3.0,80.0
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5,2.0,NaN
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,Intermediate,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0,2.0,80.0

In [276]:
df1['Skills'].unique()

array(['Software  Development skill', 'Play football, cricket, singing',
       'Programming', 'Programming, Cyber security, Networking',
       'Programming, Web development skill(Frontend)',
       'Programming, Software  Development skill, Web development skill(Backend), Web development skill(Frontend)',
       'Web development skill(Frontend)', 'Programming, Grapics ',
       'Programming, Web development skill(Backend), Web development skill(Frontend)',
       'Networking', 'Content creation ', 'Programming, Video creating ',
       'Programming, Software  Development skill, Web development skill(Frontend)',
       'Programming, Cyber security', 'Programming, Graphics design ',
       'Learning Web developping.. Recently started learning ',
       'Programming, Leadership ', 'Programming, Networking',
       'Programming, Microsoft office',
       'Programming, Web development skill(Frontend), Cyber security, Networking',
       'Other',
       'Programming, Software  Development skill, Networking, Graphic design .',
       'Software  Development skill, Html,css',
       'Programming, Software  Development skill, Mobile Application Development (Android/Flutter)',
       'Graphics Designing',
       'Software  Development skill, Web development skill(Frontend)',
       'Web development skill(Frontend), Cyber security, Networking',
       'Programming, Software  Development skill, Web development skill(Backend), Machine Learning, Game Development ',
       'Programming, Photography ', 'Database',
       'Programming, Software  Development skill, Networking, Graphic Design ',
       'Web development skill(Frontend), Networking',
       'Programming, Software  Development skill, Networking, Graphics design ',
       'Programming, Web development skill(Backend), Web development skill(Frontend), Networking',
       'Web development skill(Backend)',
       'Web development skill(Backend), Web development skill(Frontend)',
       'Programming, Software  Development skill, Web development skill(Frontend), Networking',
       'Programming, Software  Development skill', 'Cyber security',
       'Programming, Software  Development skill, Web development skill(Backend), Web development skill(Frontend), Cyber security, Graphics Design ',
       'Web development skill(Backend), Web development skill(Frontend), Graphics design ',
       'Programming, Web development skill(Backend), Web development skill(Frontend), Cyber security, Java Script',
       'Programming, Software  Development skill, Web development skill(Backend), Web development skill(Frontend), Networking',
       'Programming, Networking, Speaking english,communication ',
       'Software  Development skill, Networking', 'App development ',
       'Web development skill(Frontend), sports ',
       'Programming, Digital Marketing ',
       'Web development skill(Backend), Networking',
       'Programming, Software  Development skill, Cyber security',
       'Nothing', 'Nothing specially ',
       'Programming, Web development skill(Backend), Web development skill(Frontend), Cyber security',
       'Programming, Software  Development skill, Networking',
       'Cyber security, Networking', 'Basic',
       'Programming, Software  Development skill, Digital Marketing, SEO, Data scraping,  Data Entry ',
       'Networking, Nothing',
       'Software  Development skill, Web development skill(Frontend), Cyber security',
       'Networking, MIS',
       'Programming, Software  Development skill, Networking, Graphics design',
       'Cyber security, Phishing attack, investigation , create tools,system attack, boot file, two factor Authentication bypass & etc.',
       'Digital Marketing, Teaching Chemistry',
       'Programming, Web development skill(Backend), Web development skill(Frontend), Android Developing',
       'I want to learn programming and web development ',
       'Programming, Web development skill(Frontend), Sports',
       'Programming, Microsoft Excel ',
       'Software  Development skill, Cyber security, Networking',
       'Programming, Web development skill(Frontend), Cyber security',
       'Programming, Designing(Photoshop), video editing ',
       'Programming, Mentoring ', 'Not yet',
       'Data entry,  Data collection,  Google docs, Google sheets',
       'Photographey ', "Don't have any ", 'I do not know this',
       'Nothing in this chart', 'Not Any', 'no skills ',
       'Web development skill(Frontend), Multi Tasking',
       'Programming, Web development skill(Frontend), Data Entry & Graphic Design ',
       'Programming, Web development skill(Backend), Cyber security',
       'nothing in this serial', 'Programming, Mechine Learning',
       'learner', 'Programming, Web development skill(Backend)',
       'No skill', 'Basic knowledge  of all skills', 'System analysis ',
       'No skills ', 'Memorizing ', 'Nothing ', 'Trying to learn',
       'Programming, Software  Development skill, Cyber security, 2D/3D animation, Grafix design ',
       'Photography & videography', 'Programming, SEO',
       'Programming, Web development skill(Frontend), Networking',
       'data entry', 'Communicate with others.',
       'Programming, Web development skill(Frontend), Graphic Design',
       'Programming, Php',
       'still learning. i completed html and css . now i learning c language. ',
       nan, 'I have no skill',
       'Programming, Web development skill(Frontend), graphics desingn',
       'Programming, Software  Development skill, App Developing ',
       'Programming, Cyber security, Networking, Content Writing, Graphics , Animation. ',
       'videography, video editing', 'Programming, Volunteering.',
       "Not yet but I'm interested in all of this", 'Nothing properly',
       'Programming, Drawing ', 'Programming, Strating....',
       'Programming, Software  Development skill, Web development skill(Backend), Web development skill(Frontend), Cyber security, Sports ',
       'I have no skill but try to learn them.',
       'Programming, Web development skill(Backend), Overall Knowledge about all',
       'Programming, Software  Development skill, Web development skill(Backend), Web development skill(Frontend), Cyber security, Networking',
       "Cyber security, Networking, I have quite good knowledge about Kali-Linux. I am using Linux from 2018. For that, I've some knowledge about some Tools.But currently I'm not working with Kali. That's why I'm forgetting everything day by day ",
       'Programming, Networking, Digital Marketing, Drop Servicing, Performance marketing management',
       'Its on learning phase ', 'Graphics designing ',
       'working on web development', 'Nothing much',
       'E-commerce, Digital marketing ', 'Teaching',
       'Programming, Web development skill(Frontend), Content Creating, freelancing, marketing,',
       'Programming, Web development skill(Backend), Graphics Design ',
       'Programming, Web development skill(Frontend), Content writer, affiliate marketing',
       'Web development skill(Frontend), Computer Application as well.',
       "i don't", 'Video editing and Designing', 'Mentoring ',
       'Graphics design ', 'graphic design ',
       'Software  Development skill, Web development skill(Backend), Web development skill(Frontend)',
       'Machine Learning ', 'Market Analysis',
       'Web development skill(Frontend), Wordpress',
       'Web development skill(Frontend), Networking, IOT, WordPress, UI & UX,  ISP maintenance, Digital Marketing, Cyber forensic, Cyber attacks , Entrepreneur.',
       'Programming, Software  Development skill, Web development skill(Frontend), Graphic design, Game development, Video and photo edit',
       'learning python', 'Programming, vedio editing & poster design',
       'Problem solving ', 'Have not started yet', "Haven't started yet ",
       'Web development skill(Frontend), Basic html and css project and also cultural activities ',
       'Programming, Web development skill(Backend), Web development skill(Frontend), design logo',
       'Web development skill(Backend), Web development skill(Frontend), Networking',
       'Software  Development skill, Web development skill(Backend)',
       'Learning frontend', 'Networking, Graphics Design',
       'Programming, Game development ', 'Machine Learning',
       'Artificial Intelligence'], dtype=object)

In [277]:
# Convert the column to string to handle non-string entries
df1['Skills1'] = df1['Skills'].astype(str)

# Keep the first three words using lambda
df1['Skills1'] = df1['Skills1'].apply(lambda x: ' '.join(x.split()[:3]))

In [278]:
df1['Skills1'].unique()

array(['Software Development skill', 'Play football, cricket,',
       'Programming', 'Programming, Cyber security,',
       'Programming, Web development',
       'Programming, Software Development',
       'Web development skill(Frontend)', 'Programming, Grapics',
       'Networking', 'Content creation', 'Programming, Video creating',
       'Programming, Cyber security', 'Programming, Graphics design',
       'Learning Web developping..', 'Programming, Leadership',
       'Programming, Networking', 'Programming, Microsoft office',
       'Other', 'Software Development skill,', 'Graphics Designing',
       'Web development skill(Frontend),', 'Programming, Photography',
       'Database', 'Web development skill(Backend)',
       'Web development skill(Backend),', 'Cyber security',
       'Programming, Networking, Speaking', 'App development',
       'Programming, Digital Marketing', 'Nothing', 'Nothing specially',
       'Cyber security, Networking', 'Basic', 'Networking, Nothing',
       'Networking, MIS', 'Cyber security, Phishing',
       'Digital Marketing, Teaching', 'I want to',
       'Programming, Microsoft Excel',
       'Programming, Designing(Photoshop), video',
       'Programming, Mentoring', 'Not yet', 'Data entry, Data',
       'Photographey', "Don't have any", 'I do not', 'Nothing in this',
       'Not Any', 'no skills', 'nothing in this',
       'Programming, Mechine Learning', 'learner', 'No skill',
       'Basic knowledge of', 'System analysis', 'No skills', 'Memorizing',
       'Trying to learn', 'Photography & videography', 'Programming, SEO',
       'data entry', 'Communicate with others.', 'Programming, Php',
       'still learning. i', 'nan', 'I have no',
       'videography, video editing', 'Programming, Volunteering.',
       'Not yet but', 'Nothing properly', 'Programming, Drawing',
       'Programming, Strating....', 'Cyber security, Networking,',
       'Programming, Networking, Digital', 'Its on learning',
       'Graphics designing', 'working on web', 'Nothing much',
       'E-commerce, Digital marketing', 'Teaching', "i don't",
       'Video editing and', 'Mentoring', 'Graphics design',
       'graphic design', 'Machine Learning', 'Market Analysis',
       'learning python', 'Programming, vedio editing', 'Problem solving',
       'Have not started', "Haven't started yet", 'Learning frontend',
       'Networking, Graphics Design', 'Programming, Game development',
       'Artificial Intelligence'], dtype=object)

In [279]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Skill_Dev_Hours,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Software Development skill,2,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0,5.0,90.0,Software Development skill
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,Basic,Yes,No,No,"Play football, cricket, singing",2,Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0,2.0,96.0,"Play football, cricket,"
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Programming,1,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0,3.0,80.0,Programming
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,"Programming, Cyber security, Networking",1,Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5,2.0,NaN,"Programming, Cyber security,"
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,Intermediate,No,No,Yes,Programming,1hour,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0,2.0,80.0,Programming

In [280]:
df1['Skill_Dev_Hours'].unique()

array(['2', '1', '1hour', '2 hours', '6', '3 hour', '0.5',
       '1.5 hour to 2 hours', '2 hout', '1 hr', '3', '2 hours ', '2 hour',
       '1 hour ', 'As much as I can but normally atleast 3 to 4 hours',
       '2hours', '4 hours', '1-2', '2-3 hour', '3/4 hours ', '2/3',
       '1 hour', '2+', '4', '2 hr', '2 h', '3-5 hours', "2 hour's ",
       '2/3 hour', '1-2 hours', '1 to 2hour', '2- 3 Hours',
       'most of time', '5 hours ', '2-3', '1.5', '8', '3 hours', '1/2h',
       'Half an hour some times', "2 or more..but didn't get resources ",
       '2 hour minimum ', '5 hours', '5/6', '3-4', '0', '8 hour',
       '1-2 hour', '2 to 3 hours', '2hr', '5', 'No time', '4 hour', '3/4',
       '1 or 2', '2hour', '7', '2h', '2,3', '4/5 hours ',
       '3 hours approximately ', '6-7 hours', '2/3 ', '1 hours', '00',
       '3h', '3 hours ', '9', 'More or less 1 hour on an average ',
       'Now  a days not more than 1\n', '3 to 5 hours', '0 hour', '1-2hr',
       '5 hour', '5-7h', '20 minute', '1/2 hour', 'As max as possible ',
       '4-5 hour', 'Web develop. 4 hour', "I haven't started yet ",
       '3-4 hour', '2-4', 'Average 2/3h', '4-5', '1 H', '3hour', '1/2',
       '2-3 ', '1 hour(Not regular)', 'Few minutes', 'Not Yet', '0 hour ',
       '1 hours ', '20 to 30 minutes ', 'around 2 hours', '1-2 hours ',
       'For computer ', '1hr', '30min', '3-4 hours', '3 hour\n', 'C',
       '30minit', '5 to 8 houre ', '1h', '2-3 hours', 'Not at all',
       '2 hour.', '1 -2 hr', '2Hours', '6 hour', '12hr', '1 to 2 hours',
       '4hour', '3 to 4 hour', '1/2hrs', '3hours', 'Now only 1-2 hours',
       '4 to 5',
       'Not every day. I try to spend 3 hours in a week in my free time.',
       'Try my best', '30-40 max 1hour',
       "I Don't have any personal PC so I Couldn't do it ", '5hrs',
       '1 to 2', "I can't cause lack of time", '6-8', "I don't ",
       'Zero hour', '1/2 hours', '1.5 hour', 'No', '1 ot 2 hour', '1.3',
       '4-5 Hours ', 'More than 3', '4h', '3\\4', '5- to 10 hours',
       '2hr ', '-', 'Maybe 1 or 2 hours or may not ', 'Min 2 hours ',
       'Practice ', '2/3 hour ', '2 Hour', '2 hous', '6hr', '1-2 hour ',
       'less then 1', '2 hour ', '30 min', 'Not daily ', 'When I am free',
       '4/5 hours', '10-15', '2/3 hours ', '2/3 hour.', 'NO', '3hr',
       '0.5h', 'most of the time', "Don't spend much time", '2hrs',
       '1-2h', '1:00- - 1:30 hours', '5 H', '1/1.5', 'One hour',
       'More than 1 hours', '6 to 8 hours ', '2 hour+', '1hours',
       '1  hour', '1 or 2 hours', "Haven't started yet", '02',
       'When I get time.', '3/4 hours', '6 hours', nan, '8 hours'],
      dtype=object)

In [281]:
# Convert the column to string to handle non-string entries
df1['Skill_Dev_Hours'] = df1['Skill_Dev_Hours'].astype(str)

# Define a function to extract numerical values representing hours
def extract_hours(value):
    # Extract numerical values
    hours_match = re.search(r'\b\d+\b', value)
    
    if hours_match:
        return float(hours_match.group())
    else:
        return np.nan  # Set to NaN if no numerical value found

# Apply the extract_hours function to the 'Skill_Dev_Hours' column
df1['Skill_Dev_Hours1'] = df1['Skill_Dev_Hours'].apply(extract_hours)

# Print unique values after preprocessing
print(df1['Skill_Dev_Hours1'].unique())

[ 2.  1. nan  6.  3.  0.  4.  5.  8.  7.  9. 20. 30. 10.]

In [283]:
df1['Skill_Dev_Hours1'].isnull().sum()

79

In [285]:
df1 = df1[~df1['Skill_Dev_Hours1'].isin([30])]

In [286]:
df1.drop(['Skill_Dev_Hours'],axis=1,inplace=True)

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\1434079038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['Skill_Dev_Hours'],axis=1,inplace=True)

In [288]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Interest_Area,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Software Development skill,Data Schince,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0,5.0,90.0,Software Development skill,2.0
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,Basic,Yes,No,No,"Play football, cricket, singing",Event management,Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0,2.0,96.0,"Play football, cricket,",2.0
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Programming,Software,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0,3.0,80.0,Programming,1.0
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,"Programming, Cyber security, Networking",Artificial Intelligence,Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5,2.0,NaN,"Programming, Cyber security,",1.0
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,Intermediate,No,No,Yes,Programming,Software,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0,2.0,80.0,Programming,NaN

In [289]:
df1['Interest_Area'].unique()

array(['Data Schince', 'Event management ', 'Software',
       'Artificial Intelligence',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence',
       'NETWORKING',
       'Software, Hardware, NETWORKING, Artificial Intelligence, Data Science',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'Software, NETWORKING, Artificial Intelligence, Data Science',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX',
       'Machine Learning / Deep Learning, Artificial Intelligence',
       'Software, Artificial Intelligence', 'Web development ',
       'Software, Machine Learning / Deep Learning',
       'Machine Learning / Deep Learning, UI/UX, Data Science',
       'Software, Artificial Intelligence, UI/UX, Data Science',
       'Machine Learning / Deep Learning',
       'Software, Hardware, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX',
       'Machine Learning / Deep Learning, Data Science',
       'Software, Hardware, Artificial Intelligence, UI/UX, Data Science',
       'Software, Data Science',
       'Software, NETWORKING, Artificial Intelligence',
       'Software, Artificial Intelligence, Game Development ',
       'Software, NETWORKING', 'Software, NETWORKING, Data Science',
       'Software, Hardware', 'Software, UI/UX',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Data Science',
       'Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'programming',
       'Software, Hardware, Machine Learning / Deep Learning, Artificial Intelligence',
       'NETWORKING, Machine Learning / Deep Learning',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'NETWORKING, Artificial Intelligence, Data Science',
       'NETWORKING, Data Science',
       'Software, Artificial Intelligence, UI/UX',
       'Hardware, NETWORKING, Artificial Intelligence, Data Science',
       'Software, Hardware, NETWORKING, Web Development ',
       'Hardware, NETWORKING',
       'Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence',
       'Software, NETWORKING, Artificial Intelligence, Hacking',
       'Software, Machine Learning / Deep Learning, Data Science',
       'Software, NETWORKING, UI/UX',
       'Hardware, Machine Learning / Deep Learning, Artificial Intelligence',
       'Software, NETWORKING, Artificial Intelligence, UI/UX',
       'Software, NETWORKING, Artificial Intelligence, UI/UX, Data Science',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning',
       'Data Science', 'Software, Artificial Intelligence, Data Science',
       'Software, Hardware, Machine Learning / Deep Learning',
       'Hardware, UI/UX',
       'NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence',
       'Hardware',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Data Science',
       'Web Development', 'UI/UX', 'Blockchain',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'Software, Hardware, UI/UX', 'Entrepreneur ',
       'NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'Software, Hardware, Artificial Intelligence',
       'Software, NETWORKING, Machine Learning / Deep Learning',
       'Software, Hardware, NETWORKING, Data Science',
       'Hardware, NETWORKING, Data Science, MIS',
       'Software, Hardware, Data Science',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence',
       'Hardware, Physics',
       'Software, Hardware, Artificial Intelligence, Data Science',
       'Software, Data Science, Web Development(Frontend+Backend)',
       'Software, Machine Learning / Deep Learning, UI/UX',
       'Software, Hardware, NETWORKING, Artificial Intelligence',
       'NETWORKING, Artificial Intelligence',
       'Hardware, Artificial Intelligence, UI/UX',
       'Artificial Intelligence, Data Science',
       'Software, Hardware, NETWORKING, Artificial Intelligence, UI/UX',
       'Software, Hardware, NETWORKING, Cyber security',
       'Software, NETWORKING, Machine Learning / Deep Learning, Data Science',
       'Hardware, NETWORKING, Data Science', 'Syber Security ',
       'NETWORKING, UI/UX', 'Software, Hardware, NETWORKING',
       'Hardware, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'Cyber Security', 'Hardware, Machine Learning / Deep Learning',
       'Software, Hardware, NETWORKING, Data Science, Security Analyst',
       'Cyber security ',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX',
       'Full stack web development',
       'Creating a game using a program language ', 'Data Science, BCS',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Data Science, Block Chain development ',
       'Hardware, NETWORKING, Data Science, Graphics design ',
       'Software, Machine Learning / Deep Learning, UI/UX, Data Science',
       'Software, Hardware, Artificial Intelligence, UI/UX, Data Science, Web development, ',
       'Software, App',
       'Software, Artificial Intelligence, UI/UX, Freelancing',
       'Machine Learning / Deep Learning, UI/UX',
       'Software, Artificial Intelligence, UI/UX, Content Creation ',
       'Software, BCS ',
       'Software, Hardware, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Web developer',
       'Software, Hardware, Machine Learning / Deep Learning, Artificial Intelligence, Data Science',
       'confuse',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Web',
       'Software, Hardware, NETWORKING, Machine Learning / Deep Learning, Data Science',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, Data Science, Sports',
       'Web developing ',
       'Software, NETWORKING, Hacking With Kali-Linux ',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX',
       'Software, Blockchain Engineering',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, Data Science, Cyber security,AI',
       'Teaching', 'Hardware, Artificial Intelligence', 'Cybersecurity ',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Data Science, Mathematics',
       'Hardware, NETWORKING, Artificial Intelligence',
       'Machine Learning / Deep Learning, Artificial Intelligence, UI/UX',
       'NETWORKING, Data Science, graphic design ',
       'Software, Machine Learning / Deep Learning, Artificial Intelligence, Data Science, For now, I am interesting in Machine Learning , Artificial Intelligence , Data Science, Software . Also Web Development ',
       'Software, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, Data Science, Problem Solving,QA, Graphics Design',
       'Software, Hardware, Artificial Intelligence, UI/UX',
       'Hardware, NETWORKING, Machine Learning / Deep Learning, Data Science',
       'NETWORKING, Artificial Intelligence, UI/UX, Data Science',
       'Web Development ',
       'Hardware, NETWORKING, Machine Learning / Deep Learning, Artificial Intelligence, UI/UX, Cyber security, IOT, ISP maintenance, MIS, Cyber Forensic, Digital Marketing, Cyber attact , Making Cyber Tools, Security Analyst, Entrepreneur etc',
       'Machine Learning / Deep Learning, Cyber security ',
       'Software, NETWORKING, Web development ',
       'Competitive programming ', nan, 'Networking'], dtype=object)

In [290]:
df1['Interest_Area'] = df1['Interest_Area'].astype(str)

# Define a mapping dictionary
skill_mapping = {
    'data science': 'Data Science',
    'networking': 'Networking',
    'machine learning': 'Machine Learning / Deep Learning',
    'artificial intelligence': 'Artificial Intelligence',
    'ui/ux': 'UI/UX',
    'web development': 'Web Development',
    'game development': 'Game Development',
    'cyber security': 'Cyber Security',
    # Add more mappings as needed
}

# Function to apply mapping
def map_skills(skill):
    skill_lower = skill.lower()
    for key, value in skill_mapping.items():
        if key in skill_lower:
            return value
    return skill

# Apply the mapping to the 'Interest_Area' column
df1['Interest_Area1'] = df1['Interest_Area'].apply(map_skills)

# Print unique values after mapping
print(df1['Interest_Area1'].unique())

['Data Schince' 'Event management ' 'Software' 'Artificial Intelligence'
 'Machine Learning / Deep Learning' 'Networking' 'Data Science'
 'Web Development' 'Software, Hardware' 'UI/UX' 'programming' 'Hardware'
 'Blockchain' 'Entrepreneur ' 'Hardware, Physics' 'Syber Security '
 'Cyber Security' 'Creating a game using a program language '
 'Software, App' 'Software, BCS ' 'confuse' 'Web developing '
 'Software, Blockchain Engineering' 'Teaching' 'Cybersecurity '
 'Competitive programming ' 'nan']

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\2852990799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Interest_Area'] = df1['Interest_Area'].astype(str)
C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\2852990799.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Interest_Area1'] = df1['Interest_Area'].apply(map_skills)

In [293]:
df1.drop(['Interest_Area'],axis=1,inplace=True)

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\1619936635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['Interest_Area'],axis=1,inplace=True)

In [294]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Prev_SGPA,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1
0,2018,Male,24,2016,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Software Development skill,Single,Yes,Bachelor,No,NaN,No,NaN,NaN,25000,NaN,12,3.0,2.0,5.0,90.0,Software Development skill,2.0,Data Schince
1,2021,Male,22,2020,BCSE,Yes,Yes,Online,Yes,Yes,Basic,Yes,No,No,"Play football, cricket, singing",Single,Yes,Family,No,NaN,No,NaN,NaN,100000bdt,NaN,4,3.0,2.0,2.0,96.0,"Play football, cricket,",2.0,Event management
2,2020,Female,21,2019,BCSE,No,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Programming,Single,No,Bachelor,No,NaN,No,NaN,NaN,50000BDT,NaN,5,3.0,3.0,3.0,80.0,Programming,1.0,Software
3,2021,Male,20,2020,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,"Programming, Cyber security, Networking",Single,No,Bachelor,Yes,NaN,No,NaN,NaN,Actually my family didnâ€™t tell me,NaN,4,1.0,3.5,2.0,NaN,"Programming, Cyber security,",1.0,Artificial Intelligence
4,2021,Male,22,2019,BCSE,Yes,No,Online,Yes,Yes,Intermediate,No,No,Yes,Programming,In a relationship,No,Bachelor,Yes,NaN,No,NaN,NaN,50000,NaN,4,3.5,1.0,2.0,80.0,Programming,NaN,Software

In [301]:
df1['Prev_SGPA'].unique()

array([nan, '3.8', '3.4', '3.93', '3.1', '3.81', '3.89', '3.79', '3.55',
       '3.28', '3.78', '4', '3.9', '3.84', '3.31', '3.49', '3.07', '3.76',
       '2.7', '3.65', '3.5', '3.38', '1.89', '3.7', '0', '2.2', '2.6',
       '2.87', '2.98', '3.52', '3.48', '3.16', '1.92', '3.29', '2', '3.3',
       '3.01', '3.2', '2.4', '2.16', '1.75', '3.33', '3.25', '3.46',
       '3.73', '3.42', '3.26', '3.82', '3.85', '2.67', '3.72', '3.51',
       '2.65', '1.96', '2.8', '3.36', '2.11', '2.83', '2.81',
       'Not get yet', '3.68', '3.64', '3.56', '1.68', '2.54', '3.14',
       '3.69', '2.73', '2.61', 'Not yet', '1.52', '3.12',
       '1st semester not completed', '3.83', '1.98', '3.37',
       "I didn't understand it", '4.5', 'First semester', '2.79', '3.18',
       '2.49', '4.59', '3.86', '3.58', '2.57', 'First semester ',
       '1st semister', '2.45', '3.47', '2.53', '2.56', 'First semister ',
       '2.36', '1st semester ', 'Not Applicable ',
       '1st semester running ', '3.19', '2:11', '3.6', '3.75', '2.68',
       '3.39', '3.03', '3.61', '5', '3', '1.61', 'first term', '2.94',
       '1.53', '2.32', '2.89', '3.17', '2.26', '3.45', '2.93', '3.06',
       '3.92', '3.63', '3.98', '2.96', '2.25', '3.96', '2.86', '0.5',
       '2.52', '3.34', '1.05', '2.06', '3.67', '1.63', '2.55', '3.74',
       '1st semester so no sgpa yet', '2.1', '2.72', '3.21', '3.95',
       '2.59', '3.53', '3.43', '3.02', 'Dont have', '1st', '2:69', '3.05',
       '2.18', '3.62', '3.88', '3.97', '3.77', '3.44', '2,48',
       '(first semester running)', '2.58', '1.12', '4.55', '2.44', '2.82',
       '4.7', '3.54', '1.78', 'none', '2.08', '1.62', '2.9', '3.13',
       '1,42', '2.5', '3.24', '2.3', '3.87', 'Not good ', '2.02', '1.87',
       '0.35', '2.04', '2.66', '3.04', '1.76', '3.15', '3.94', '3.32',
       'Forgot ', '4.6', '2.62', '2.75', '3.57', '2.88', '2.74', '1.41',
       '3.66', '3.64 out of 4.', 'NO', '2.63', '00', '1.91', '1.97',
       '3.22', '2.91', '2.15', '2.92', '2.13', '1st  semester ', '3.59',
       '2.76', '3:11', '3.08', '2.37', 'Have not gotten yet', '3 4',
       '1.8', '2.78', '1.45', '2.64', '1.77', '2.19', '1.83', '1.34',
       '1.72', '1.51', '2.33', '1.6', '1.19', '1.65', '2.07', '2.77',
       '2.51', '2.22', '1.86', '1.81', '1.56', '2.23', '2.21', '2.41',
       '1.57', '1.79', '2.03', '1.66', '1.55', '1.25', '1.54', '2.39',
       '2.29', '2.34', '1.43', '1.26', '2.46', '1.67', '1.46', '1.35',
       '1.44', '2.85', '2.48', '2.31', '2.09', '1.88', '1.99', '1.9',
       '1.4', '1.59', '2.38', '1.21', '2.05', '1.15', '1.7', '2.01',
       '1.47', '1.58', '1.24', '1.95', '1.11', '1.71', '1.33', '2.71',
       '2.43', '1.38', '1.5', '1.23', '2.35', '1.22'], dtype=object)

In [299]:
df1['Health_Issues'] = df['Health_Issues'].replace({
    'no' : 'No',
    'N' : 'No'
})

C:\Users\Ghost Codm\AppData\Local\Temp\ipykernel_5636\4163078111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Health_Issues'] = df['Health_Issues'].replace({

In [305]:


# Drop rows with NaN values in 'Prev_SGPA'
df1['Prev_SGPA1'] = pd.to_numeric(df1['Prev_SGPA'], errors='coerce')

# Print the unique numeric values in 'Prev_SGPA'
print(df1['Prev_SGPA1'].unique())

[3.8  3.4  3.93 3.1  3.81 3.89 3.79 3.55 3.28 3.78 4.   3.9  3.84 3.31
 3.49 3.07 3.76 2.7  3.65 3.5  3.38 1.89 3.7  0.   2.2  2.6  2.87 2.98
 3.52 3.48 3.16 1.92 3.29 2.   3.3  3.01 3.2  2.4  2.16 1.75 3.33 3.25
 3.46 3.73 3.42 3.26 3.82 3.85 2.67 3.72 3.51 2.65 1.96 2.8  3.36 2.11
 2.83 2.81 3.68 3.64 3.56 1.68 2.54 3.14 3.69 2.73 2.61 1.52 3.12 3.83
 1.98 3.37 4.5  2.79 3.18 2.49 4.59 3.86 3.58 2.57 2.45 3.47 2.53 2.56
 2.36 3.19 3.6  3.75 2.68 3.39 3.03 3.61 5.   3.   1.61 2.94 1.53 2.32
 2.89 3.17 2.26 3.45 2.93 3.06 3.92 3.63 3.98 2.96 2.25 3.96 2.86 0.5
 2.52 3.34 1.05 2.06 3.67 1.63 2.55 3.74 2.1  2.72 3.21 3.95 2.59 3.53
 3.43 3.02 3.05 2.18 3.62 3.88 3.97 3.77 3.44 2.58 1.12 4.55 2.44 2.82
 4.7  3.54 1.78 2.08 1.62 2.9  3.13 2.5  3.24 2.3  3.87 2.02 1.87 0.35
 2.04 2.66 3.04 1.76 3.15 3.94 3.32 4.6  2.62 2.75 3.57 2.88 2.74 1.41
 3.66 2.63 1.91 1.97 3.22 2.91 2.15 2.92 2.13 3.59 2.76 3.08 2.37 1.8
 2.78 1.45 2.64 1.77 2.19 1.83 1.34 1.72 1.51 2.33 1.6  1.19 1.65 2.07
 2.77 2.51 2.22 1.86 1.81 1.56 2.23 2.21 2.41 1.57 1.79 2.03 1.66 1.55
 1.25 1.54 2.39 2.29 2.34 1.43 1.26 2.46 1.67 1.46 1.35 1.44 2.85 2.48
 2.31 2.09 1.88 1.99 1.9  1.4  1.59 2.38 1.21 2.05 1.15 1.7  2.01 1.47
 1.58 1.24 1.95 1.11 1.71 1.33 2.71 2.43 1.38 1.5  1.23 2.35 1.22]

In [307]:
df1.drop(['Prev_SGPA'],axis=1,inplace=True)

In [308]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Curr_CGPA,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1
7,2021,Female,22,2019,BCSE,Yes,No,Offline,Yes,Yes,Basic,Yes,No,Yes,Web development skill(Frontend),Single,No,Bachelor,No,No,3.64,35,32500 BDT,NaN,4,2.0,2.0,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.80
11,2021,Male,22,2019,BCSE,No,No,Offline,Yes,Yes,Basic,No,No,No,Programming,Single,No,Bachelor,Yes,No,3.53,35,20000 BDT,NaN,4,3.5,2.0,2.0,90.0,Programming,1.0,Data Science,3.40
15,2021,Male,20,2020,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,No,No,Yes,Programming,Single,Yes,Family,No,No,3.89,35,30000 BDT,NaN,4,2.0,1.0,1.0,95.0,Programming,3.0,Machine Learning / Deep Learning,3.93
18,2021,Male,21,2020,BCSE,Yes,No,Online,Yes,Yes,Advance,No,No,Yes,Programming,In a relationship,No,Family,No,No,3.5,35,Situational,NaN,4,1.0,NaN,3.0,NaN,Programming,1.0,Artificial Intelligence,3.10
20,2021,Female,21,2019,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Web development skill(Frontend),Single,Yes,Bachelor,No,No,3.65,34,30000,NaN,4,3.0,2.0,2.0,96.0,Web development skill(Frontend),1.0,Web Development,3.81

In [310]:
df1['Curr_CGPA'].unique()

array(['3.64', '3.53', '3.89', '3.5', '3.65', '3.81', '3.82', '3.48',
       '3.32', '3.88', '4', '3.9', '3.8', '3.52', '3.67', '2.74', '2.8',
       nan, '3.1', '3.58', '2.69', '3.77', '2.53', '2.66', '2.6', '2.91',
       '2.99', '2.92', '2.96', '2.9', '3.08', '2.68', '2.42', '3.23',
       '2.22', '3.24', '2.76', '3.3', '2.4', '2.75', '2.31', '2.51',
       '2. 81', '3.92', '3.25', '3.73', '2', '3.56', '3.02', '3.2',
       '3.26', '3.68', '3.72', '2.84', '2.67', '3.6', '3.35', '3.42',
       '00', '3.59', '2.54', '3.05', '2.2', '3.22', "haven't yet", '0',
       '3.78', '3.75', '3.39', '3.14', '3', 'Previous ', '2.15', '3.33',
       '3.83', '2.98', 'Not now', 'Not yet received', '3.79', '2.89',
       '3.18', '3.03', '4.67', '3.7', '3.4', '2.95', '2.72', '2.56',
       '2.73', '3.07', '3.38', 'No', '3.21', '3.45', '3.74', '3.36',
       '3.01', '3.93', '3.55', '2.44', '3.15', '3.27', '3.19', '3.37',
       '2.88', '2.43', "Don't remember ", 'Not given', '3.44', '3.09',
       '3.95', '3.84', '3.94', 'Not yet', '3.86', '3.something ', '3.71',
       '3.99', '3.61', '2.94', '2.97', "I'm just in 2nd semester ",
       '2.61', '3.91', '2.55', '3.62', "Don't know till now ", '3.97',
       '2.1', '2.25', '2.01', '3.295', '3.69', '3.29', '3.43', '3.41',
       '2.81', '2.08', '3.66', '2.93', '3.76', '1.88', '2.82', '3.98',
       'Semester going on', '1.45', "Don't know ", '3.17', '3.13', '3.85',
       '2.5', '-', '3.47', 'Not counted yet', '2.3', '2.86', 'C.42',
       '2.87', '2.77', '2.85', '3.06', '4.6', '2.64', '3.57', '2.41',
       '3.63', '1.75', '3.51', '3.54', '2.45', '1.64', '3.12',
       'Not at all', '3.34', '3.46', '3.16', '2.46',
       "1st semester so I didn't get my CGPA", '2.19', '2.65', '2.59',
       "Don't know", '3.11', '2.38', '3.49', '2.79', '3.31', '2.16',
       '3,10', '2.63', '2.57', '3.28', '3.87', '2.33', '2.58', '2.49',
       '2.62', '2.37', '2.78', '2.7', '2.71', '3..11', '2.47', '2.39',
       '2.52', '1.42', '3.96', '2.35', '2.83', '2.48'], dtype=object)

In [311]:
df1['Curr_CGPA1'] = pd.to_numeric(df1['Curr_CGPA'], errors='coerce')  # Convert to numeric first
df1['Curr_CGPA1'] = np.where(df1['Curr_CGPA1'].isnull(), np.nan, df1['Curr_CGPA1'])

In [313]:
print(df1['Curr_CGPA1'].unique())

[3.64  3.53  3.89  3.5   3.65  3.81  3.82  3.48  3.32  3.88  4.    3.9
 3.8   3.52  3.67  2.74  2.8     nan 3.1   3.58  2.69  3.77  2.53  2.66
 2.6   2.91  2.99  2.92  2.96  2.9   3.08  2.68  2.42  3.23  2.22  3.24
 2.76  3.3   2.4   2.75  2.31  2.51  3.92  3.25  3.73  2.    3.56  3.02
 3.2   3.26  3.68  3.72  2.84  2.67  3.6   3.35  3.42  0.    3.59  2.54
 3.05  2.2   3.22  3.78  3.75  3.39  3.14  3.    2.15  3.33  3.83  2.98
 3.79  2.89  3.18  3.03  4.67  3.7   3.4   2.95  2.72  2.56  2.73  3.07
 3.38  3.21  3.45  3.74  3.36  3.01  3.93  3.55  2.44  3.15  3.27  3.19
 3.37  2.88  2.43  3.44  3.09  3.95  3.84  3.94  3.86  3.71  3.99  3.61
 2.94  2.97  2.61  3.91  2.55  3.62  3.97  2.1   2.25  2.01  3.295 3.69
 3.29  3.43  3.41  2.81  2.08  3.66  2.93  3.76  1.88  2.82  3.98  1.45
 3.17  3.13  3.85  2.5   3.47  2.3   2.86  2.87  2.77  2.85  3.06  4.6
 2.64  3.57  2.41  3.63  1.75  3.51  3.54  2.45  1.64  3.12  3.34  3.46
 3.16  2.46  2.19  2.65  2.59  3.11  2.38  3.49  2.79  3.31  2.16  2.63
 2.57  3.28  3.87  2.33  2.58  2.49  2.62  2.37  2.78  2.7   2.71  2.47
 2.39  2.52  1.42  3.96  2.35  2.83  2.48 ]

In [316]:
df1.drop(['Curr_CGPA'],axis=1,inplace=True)

In [317]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Completed_Credits,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1
7,2021,Female,22,2019,BCSE,Yes,No,Offline,Yes,Yes,Basic,Yes,No,Yes,Web development skill(Frontend),Single,No,Bachelor,No,No,35,32500 BDT,NaN,4,2.0,2.0,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.80,3.64
11,2021,Male,22,2019,BCSE,No,No,Offline,Yes,Yes,Basic,No,No,No,Programming,Single,No,Bachelor,Yes,No,35,20000 BDT,NaN,4,3.5,2.0,2.0,90.0,Programming,1.0,Data Science,3.40,3.53
15,2021,Male,20,2020,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,No,No,Yes,Programming,Single,Yes,Family,No,No,35,30000 BDT,NaN,4,2.0,1.0,1.0,95.0,Programming,3.0,Machine Learning / Deep Learning,3.93,3.89
18,2021,Male,21,2020,BCSE,Yes,No,Online,Yes,Yes,Advance,No,No,Yes,Programming,In a relationship,No,Family,No,No,35,Situational,NaN,4,1.0,NaN,3.0,NaN,Programming,1.0,Artificial Intelligence,3.10,3.50
20,2021,Female,21,2019,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Web development skill(Frontend),Single,Yes,Bachelor,No,No,34,30000,NaN,4,3.0,2.0,2.0,96.0,Web development skill(Frontend),1.0,Web Development,3.81,3.65

In [318]:
df1['Completed_Credits'].unique()

array(['35', '34', '39', '11', '12', '80', '132', '71', '85', '83', '73',
       '27', '86', '91', '110', '90+', '120+', '120', '76', '118', '100',
       '68', '121', '114', '77', '105', '79', '103', '70', '46', '75',
       '33', '102', '136', '122', '78', '126', '133', '84', '125', '131',
       'Above 120', '130', '80+', '35-37', '30+', '110-120',
       '104 (14 pursuing)', '14', '89', '115', 'More Than 120', '88',
       '99', '117', '101', '123', '104', 'Not yet received', '0', '23',
       '24', '26', '40', '25', '49', '55', '45', '65', '107',
       '11 credits', '128', '48', '50', 'Around 25-30 ', '80-90', '90',
       "Don't remember", '24 credit', '20', '53', '36', '60', '11 credit',
       '87', '2', '58', '141', '42', '22', '10', '13', '62', '54', '140',
       '111', '124', '106', '32', '132+', '139', '113', '21', '116', '93',
       '110+', '64', 'More than 70', '95', '18', '90 may be', '130+',
       '92', '15', '00', '6', '70-85', 'around 75 credit', '12 credit',
       '147', '8', 'More than 80', '72', '96', '136+', '112',
       'More than 125', '28', '31', 'not yet', '1', '129', '119', '127',
       '135', '128 credit (without thesis and intern)', 'more than 65',
       '67', '143', '63', '97', '98', '66', '144', '145', '142', '137',
       '138', '59', '134', '81', '109', '56', '108', '61', '74', '16',
       '29', '30', '51', '43'], dtype=object)

In [321]:
df1['Completed_Credits1'] = df1['Completed_Credits'].replace({
    'Above 120' : 120,
    '80+' : 80,
    "35-37" : 35,
    '30+' : 30,
    '110-120' : 110,
    '104 (14 pursuing)' : 104,
    'More Than 120' : 120,
    'Not yet received' : np.nan,
    '11 credits' : 11,
    'Around 25-30 ' : 25,
    '80-90' : 80,
    "Don't remember" : np.nan,
    '24 credit' : 24,
    '11 credit' : 11,
    '132+' : 132,
    '110+' : 110,
    'More than 70' :70,
    '90 may be' : 90,
    '130+' : 130,
    '70-85' : 70,
    'around 75 credit' : 75,
    '12 credit' : 12,
    'More than 80' : 80,
    '136+' : 136,
    'More than 125' : 125,
    'not yet' : np.nan,
    '128 credit (without thesis and intern)' : 128,
    'more than 65' : 65,
    
     
})

In [322]:
df1['Completed_Credits1'].unique()

array(['35', '34', '39', '11', '12', '80', '132', '71', '85', '83', '73',
       '27', '86', '91', '110', '90+', '120+', '120', '76', '118', '100',
       '68', '121', '114', '77', '105', '79', '103', '70', '46', '75',
       '33', '102', '136', '122', '78', '126', '133', '84', '125', '131',
       120, '130', 80, 35, 30, 110, 104, '14', '89', '115', '88', '99',
       '117', '101', '123', '104', nan, '0', '23', '24', '26', '40', '25',
       '49', '55', '45', '65', '107', 11, '128', '48', '50', 25, '90', 24,
       '20', '53', '36', '60', '87', '2', '58', '141', '42', '22', '10',
       '13', '62', '54', '140', '111', '124', '106', '32', 132, '139',
       '113', '21', '116', '93', '64', 70, '95', '18', 90, 130, '92',
       '15', '00', '6', 75, 12, '147', '8', '72', '96', 136, '112', 125,
       '28', '31', '1', '129', '119', '127', '135', 128, 65, '67', '143',
       '63', '97', '98', '66', '144', '145', '142', '137', '138', '59',
       '134', '81', '109', '56', '108', '61', '74', '16', '29', '30',
       '51', '43'], dtype=object)

In [324]:
df1.drop(['Completed_Credits'],axis=1,inplace=True)

In [325]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1
7,2021,Female,22,2019,BCSE,Yes,No,Offline,Yes,Yes,Basic,Yes,No,Yes,Web development skill(Frontend),Single,No,Bachelor,No,No,32500 BDT,NaN,4,2.0,2.0,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.80,3.64,35
11,2021,Male,22,2019,BCSE,No,No,Offline,Yes,Yes,Basic,No,No,No,Programming,Single,No,Bachelor,Yes,No,20000 BDT,NaN,4,3.5,2.0,2.0,90.0,Programming,1.0,Data Science,3.40,3.53,35
15,2021,Male,20,2020,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,No,No,Yes,Programming,Single,Yes,Family,No,No,30000 BDT,NaN,4,2.0,1.0,1.0,95.0,Programming,3.0,Machine Learning / Deep Learning,3.93,3.89,35
18,2021,Male,21,2020,BCSE,Yes,No,Online,Yes,Yes,Advance,No,No,Yes,Programming,In a relationship,No,Family,No,No,Situational,NaN,4,1.0,NaN,3.0,NaN,Programming,1.0,Artificial Intelligence,3.10,3.50,35
20,2021,Female,21,2019,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Web development skill(Frontend),Single,Yes,Bachelor,No,No,30000,NaN,4,3.0,2.0,2.0,96.0,Web development skill(Frontend),1.0,Web Development,3.81,3.65,34

In [327]:
df1['Age'].unique()

array(['22', '20', '21', '19', '24', '23', '25', '21+', '26', '23.6',
       '20+', '18', '22+', '24+', '20 years 6 months', nan], dtype=object)

In [329]:
df1['Age'] = df1['Age'].replace({
    '23.3' : 23,
    '20+' : 20,
    '21+' : 21,
    '22+' : 22,
    '24+' : 24,
    '20 years 6 months' :20,
})

In [361]:
df1['Physical_Disabilities'].unique()

array(['No', 'Yes'], dtype=object)

In [342]:
df1['HSC_Pass_Year'] = df1['HSC_Pass_Year'].replace({
    'Diploma passed ' : 2020,
    '2014-2016' : 2016,
    '2018(diploma)' : 2018,
    'Diploma-2018' : 2018,
    'Diploma 2018' : 2018,
    'Diploma (2021)' : 2021,
    'Diploma  2019' : 2019,
    '2017(Diploma in Engineering)' : 2017,
    'Diploma 2020' : 2020,
    'Completed Diploma ( 2021)' : 2021,
    'W' : np.nan,
    '2020 (Diploma)' : 2020,
    '2017 (DIPLOMA)' : 2017,
    'Diploma in Engineer passing year:  2020' : 2020,
    'Diploma (2020)' : 2020,
    'Diploma 2019' : 2019,
    'Diploma 2021' : 2021,
    '19' : 2019,
    '18' : 2018
})

In [362]:
df1['Family_Income'].unique()

array(['32500 BDT', '20000 BDT', '30000 BDT', 'Situational ', '30000',
       '35000BDT tonbe exact ', '50000', '40000', '8000', '200000',
       '60000 BDT', '23000', '350000', '20000', '92000', '35000', '45000',
       'Nothing', '60000', '0', '150000', '30,000', '15000BDT', '15000',
       '28000', '4000', '80000bdt', '65000', '60,000', '50000 BDT',
       '500000', '40000BDT', '25000', '15-20k', 'Alhamdulillah 50000',
       '22000', '1lac', '40000 BDT', '40,000', 'Not sure', '00', '18000',
       nan, '80000', 'Personal', '12000', '50000+', '0 BDT', '25000BDT',
       'No income..', '34000', '10000', '40k', '16000', 'around 40,000',
       'Approximately 30000', '50,000', '36000', '25-30k in average ',
       'No income source', '150,000', "I Don't know.", '90k+',
       'Around 100000 BDT', '20k', '45000 BDT', 'Not fixed', '37000',
       '70000', '35000 BDT', '1lac+', '5000/-', '120000',
       "i don't know surely. most probably 40000+", '70000 bdt', '300000',
       "Right one i don't know", '25000 BDT', 'Around 40000',
       '30,000 BDT', '00 BDT', '49000 BDT', '2000000 BDT', 'Few', '50k+',
       '6000/7000', '35000+', '20000BDT', 'I.e 20000 BDT', '12500/-',
       '5000', '50000 taka', 'around 60k', '68000 BDT', '50k',
       '15000-18000', 'Not sure exactly ', '25,000', '45000BDT',
       '60000 BTD', '100000', 'Under of 40,000 BDT', '33000 BDT',
       '15000 BDT', '20,000', '45000-50000', '70000 BDT', 'Around 60000',
       'Around 30000 BDT', '90000+', '25000-28000', '40000+',
       '50000-60000 BDT', '24000', '30000BDT', '20', 'Not exact', '1lakh',
       'Average>50000 ', '50000BDT', '65000BDT', 'As 60000.', 'i.e 35000',
       '50000 DBT', '00000', '18000tk-25000tk', '60k', '400000 BDT',
       '20-25k ', '15k', '30k', '100000 BDT', '80,000', '24000 BDT',
       'Roughly', '30000-35000 BDT', '14000', 'I dont know', '33000',
       '20-25K or less.', '-', '21000', '13000', '35,000', '55000',
       '50000-100000', 'dont know', '2-3 lack', '60000 (approximately)',
       '1 lac', '50+', '15000-20000', '4000 BDT', 'Not yet', '100,000',
       '48400', '80000 BDT', '30000+', '35000BDT', '5,000', '200$',
       '40000 TK', '120000 BDT', '35000-40000', '50,000/=', 'i dont know',
       '90000 BDT', '30000 bdt', '13500 BDT', '60000-70000', '25k', '--',
       '80/90 thousand ', '7000', 'Less 20000', '19000 BDT', '20000+',
       "I don't know exactly", '38000', '20,000/=', 'not applicable',
       'More than 2 lac', '1', '39000', '41000', '44000', '46000',
       '49000', '52000', '54000', '57000', '58000', '59000', '61000',
       '64000', '66000', '67000', '68000', '71000', '74000', '75000',
       '76000', '77000', '78000', '79000', '81000', '82000', '85000',
       '86000', '87000', '88000', '89000', '90000', '91000', '93000',
       '95000', '98000', '110000', '114000', '115000', '116000', '117000',
       '123000', '128000', '130000', '134000', '135000', '144000',
       '155000', '158000', '165000', '170000', '190000', '235000',
       '250000', '255000', '32000', '42000', '47000', '48000', '53000',
       '56000', '62000', '73000', '83000', '94000', '96000', '97000',
       '112000', '113000', '122000', '127000', '133000', '140000',
       '145000', '160000', '169000', '277000', '43000', '51000', '119000',
       '121000', '136000', '137000', '167000', '180000', '210000'],
      dtype=object)

In [402]:
# Removing BDT
def extract_numbers_from_income(income_str):
    if isinstance(income_str, str) and 'BDT' in income_str:
        numbers = re.findall(r'\d+', income_str)
        if numbers:
            return int(numbers[0])
    return income_str

# Apply the lambda function to the 'Family_Income' column
df1['Family_Income1'] = df1['Family_Income'].apply(lambda x: extract_numbers_from_income(x))

In [403]:
import re

# Define a function to remove special characters and keep only numbers
def remove_special_characters(value):
    if isinstance(value, str):
        # Use regular expression to keep only numbers
        cleaned_value = re.sub(r'[^0-9]', '', value)
        if cleaned_value:
            return int(cleaned_value)
    return value

# Apply the lambda function to the 'Family_Income' column
df1['Family_Income1'] = df1['Family_Income1'].apply(lambda x: remove_special_characters(x))

In [404]:
df1['Family_Income1'].unique()

array([32500, 20000, 30000, 'Situational ', 35000, 50000, 40000, 8000,
       200000, 60000, 23000, 350000, 92000, 45000, 'Nothing', 0, 150000,
       15000, 28000, 4000, 80000, 65000, 500000, 25000, 1520, 22000, 1,
       'Not sure', 18000, nan, 'Personal', 12000, 'No income..', 34000,
       10000, 40, 16000, 36000, 2530, 'No income source', "I Don't know.",
       90, 100000, 20, 'Not fixed', 37000, 70000, 5000, 120000, 300000,
       "Right one i don't know", 30, 49000, 2000000, 'Few', 50, 60007000,
       12500, 60, 68000, 1500018000, 'Not sure exactly ', 33000,
       4500050000, 90000, 2500028000, 24000, 'Not exact', 1800025000,
       400000, 2025, 15, 'Roughly', 14000, 'I dont know', '-', 21000,
       13000, 55000, 50000100000, 'dont know', 23, 1500020000, 'Not yet',
       48400, 200, 3500040000, 'i dont know', 13500, 6000070000, 25, '--',
       8090, 7000, 19000, "I don't know exactly", 38000, 'not applicable',
       2, 39000, 41000, 44000, 46000, 52000, 54000, 57000, 58000, 59000,
       61000, 64000, 66000, 67000, 71000, 74000, 75000, 76000, 77000,
       78000, 79000, 81000, 82000, 85000, 86000, 87000, 88000, 89000,
       91000, 93000, 95000, 98000, 110000, 114000, 115000, 116000, 117000,
       123000, 128000, 130000, 134000, 135000, 144000, 155000, 158000,
       165000, 170000, 190000, 235000, 250000, 255000, 32000, 42000,
       47000, 48000, 53000, 56000, 62000, 73000, 83000, 94000, 96000,
       97000, 112000, 113000, 122000, 127000, 133000, 140000, 145000,
       160000, 169000, 277000, 43000, 51000, 119000, 121000, 136000,
       137000, 167000, 180000, 210000], dtype=object)

In [405]:
# Fill string values with 25000
df1['Family_Income1'] = df1['Family_Income1'].apply(lambda x: 25000 if pd.isna(x) or not isinstance(x, (int, float)) else x)

In [408]:
df1['Family_Income1'].unique()

array([      32500,       20000,       30000,       25000,       35000,
             50000,       40000,        8000,      200000,       60000,
             23000,      350000,       92000,       45000,           0,
            150000,       15000,       28000,        4000,       80000,
             65000,      500000,        1520,       22000,           1,
             18000,       12000,       34000,       10000,          40,
             16000,       36000,        2530,          90,      100000,
                20,       37000,       70000,        5000,      120000,
            300000,          30,       49000,     2000000,          50,
          60007000,       12500,          60,       68000,  1500018000,
             33000,  4500050000,       90000,  2500028000,       24000,
        1800025000,      400000,        2025,          15,       14000,
             21000,       13000,       55000, 50000100000,          23,
        1500020000,       48400,         200,  3500040000,       13500,
        6000070000,          25,        8090,        7000,       19000,
             38000,           2,       39000,       41000,       44000,
             46000,       52000,       54000,       57000,       58000,
             59000,       61000,       64000,       66000,       67000,
             71000,       74000,       75000,       76000,       77000,
             78000,       79000,       81000,       82000,       85000,
             86000,       87000,       88000,       89000,       91000,
             93000,       95000,       98000,      110000,      114000,
            115000,      116000,      117000,      123000,      128000,
            130000,      134000,      135000,      144000,      155000,
            158000,      165000,      170000,      190000,      235000,
            250000,      255000,       32000,       42000,       47000,
             48000,       53000,       56000,       62000,       73000,
             83000,       94000,       96000,       97000,      112000,
            113000,      122000,      127000,      133000,      140000,
            145000,      160000,      169000,      277000,       43000,
             51000,      119000,      121000,      136000,      137000,
            167000,      180000,      210000], dtype=int64)

In [416]:
# Fill NaN, 0, 1, 2 with appropriate values
df1['Family_Income1'] = df1['Family_Income1'].apply(lambda x: 
    100000 if pd.isna(x) or x == 1 else
    200000 if x == 2 else
    20000 if x == 200 else
    15200 if x == 1520 else
    20250 if x == 2025 else
    6500 if x == 60007000 else
    16500 if x == 1500018000 else
    47000 if x == 4500050000 else
    26000 if x == 2500028000 else
    22000 if x == 1800025000 else
    75000 if  x == 50000100000 else
    18000 if x == 1500020000 else
    37000 if x == 3500040000 else
    65000 if x == 6000070000 else
    20000 if x == 0 else
    int(x) * 1000 if len(str(x)) == 2 else x
)

In [417]:
df1['Family_Income1'].unique()

array([  32500,   20000,   30000,   25000,   35000,   50000,   40000,
          8000,  200000,   60000,   23000,  350000,   92000,   45000,
        150000,   15000,   28000,    4000,   80000,   65000,  500000,
         15200,   22000,  100000,   18000,   12000,   34000,   10000,
         16000,   36000,    2530,   90000,   37000,   70000,    5000,
        120000,  300000,   49000, 2000000,    6500,   12500,   68000,
         16500,   33000,   47000,   26000,   24000,  400000,   20250,
         14000,   21000,   13000,   55000,   75000,   48400,   13500,
          8090,    7000,   19000,   38000,   39000,   41000,   44000,
         46000,   52000,   54000,   57000,   58000,   59000,   61000,
         64000,   66000,   67000,   71000,   74000,   76000,   77000,
         78000,   79000,   81000,   82000,   85000,   86000,   87000,
         88000,   89000,   91000,   93000,   95000,   98000,  110000,
        114000,  115000,  116000,  117000,  123000,  128000,  130000,
        134000,  135000,  144000,  155000,  158000,  165000,  170000,
        190000,  235000,  250000,  255000,   32000,   42000,   48000,
         53000,   56000,   62000,   73000,   83000,   94000,   96000,
         97000,  112000,  113000,  122000,  127000,  133000,  140000,
        145000,  160000,  169000,  277000,   43000,   51000,  119000,
        121000,  136000,  137000,  167000,  180000,  210000], dtype=int64)

In [413]:
df1[df1['Family_Income1'].isin([0])]

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Skills,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Family_Income,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1,Diploma,Family_Income1
119,2017,Male,22,2017,BCSE,Yes,No,Offline,Yes,Yes,Advance,Yes,No,Yes,"Programming, Software Development skill, Web ...",Single,No,Bachelor,Yes,No,0,NaN,5,1.5,NaN,4.0,100.0,"Programming, Software Development",4.0,Data Science,2.60,2.60,90+,False,0
204,Spri,Male,23,2020,BCSE,Yes,No,Online,Yes,No,Basic,Yes,No,Yes,Programming,Single,NaN,Bachelor,No,No,00,NaN,2022,3.5,2.0,3.0,85.0,Programming,1.0,Software,1.96,0.00,11,True,0
216,2022,Male,20,2020,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,Yes,No,No,"Web development skill(Backend), Web developmen...",Single,No,Family,No,No,0 BDT,NaN,1,2.0,7.0,6.0,100.0,"Web development skill(Backend),",4.0,Data Science,4.00,4.00,14,False,0
294,2021,Female,21,2020,BCSE,Yes,No,Online,Yes,Yes,Intermediate,No,No,Yes,Programming,Single,No,Bachelor,No,No,0,NaN,2,3.0,2.0,1.0,99.0,Programming,3.0,Software,3.18,3.18,11,False,0
330,2021,Female,21,2019,BCSE,Yes,No,Offline,Yes,Yes,Advance,No,No,Yes,No skill,In a relationship,Yes,Family,Yes,No,00 BDT,NaN,3,0.0,0.0,12.0,50.0,No skill,0.0,Networking,3.37,NaN,NaN,False,0
338,2022,Female,20,2021,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,No,No,Yes,"Programming, Software Development skill",Single,No,Family,No,No,0,NaN,1,2.0,NaN,3.0,98.0,"Programming, Software Development",0.0,Networking,0.00,0.00,0,False,0
409,2021,Male,21,2019,BCSE,No,No,Online,Yes,Yes,Intermediate,No,No,No,"Programming, SEO",Single,No,Bachelor,No,No,0 BDT,NaN,5,2.0,1.0,1.0,98.0,"Programming, SEO",6.0,Data Science,3.70,3.77,54,False,0
468,2022,Male,21,2020,BCSE,Yes,No,Online,Yes,Yes,Basic,No,No,Yes,Programming,Single,Yes,Bachelor,Yes,No,00000,NaN,2,5.0,1.0,12.0,98.0,Programming,2.0,"Software, Hardware",3.33,3.33,12,False,0
603,2020,Female,22,2018,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Software Development skill,Single,No,Bachelor,Yes,No,00,NaN,8,2.5,NaN,2.0,98.0,Software Development skill,0.0,Software,3.19,3.41,90,False,0
657,2020,Male,22,2016,BCSE,No,Yes,Offline,Yes,Yes,Intermediate,No,No,Yes,Programming,Single,No,Bachelor,Yes,No,0,NaN,7,2.0,1.5,2.0,60.0,Programming,1.0,Networking,2.92,2.90,58,False,0
686,2020,Male,23,2019,BCSE,Yes,Yes,Offline,Yes,Yes,Advance,No,No,No,Programming,Single,No,Family,No,No,0,NaN,8,3.5,1.0,3.0,90.0,Programming,2.0,Data Science,3.84,3.78,90,True,0
742,2021,Male,21,2020,BCSE,No,Yes,Offline,Yes,Yes,Intermediate,No,No,No,Programming,Single,No,Family,No,No,0,NaN,3,4.0,2.0,4.0,50.0,Programming,1.0,Data Science,2.94,2.50,23,False,0

In [423]:
df1['Adm_Year'].unique()

array(['2021', '2022', '2020', '2018', '2019', '2017', 2022, 2019, '2014',
       '2016', 2021, '2015', 2020, 2017, '2013', '22022', '2023'],
      dtype=object)

In [422]:
df1['Adm_Year'] = df1['Adm_Year'].apply(lambda x: 
    2022 if pd.isna(x) or x == '3rd year' else
    2019 if x == '19' else
    2021 if x in ['Spri', '21', 'fall 2021', '2021 Fall'] else
    2020 if x in ['fall 2020', '20208', 'spring 2020', '2020 (summer)'] else
    2017 if x == '17' else
    2022 if x == 'Spring 2022' else
    int(x) * 1000 if len(str(x)) == 2 else x
)

In [333]:
import pandas as pd


df1['Diploma'] = df1['HSC_Pass_Year'].str.contains('Diploma', case=False, na=False)

# Print the unique values in the 'Diploma' column

In [430]:
df1.head(1)

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1,Diploma,Family_Income1
7,2021.0,Female,22.0,2019.0,BCSE,Yes,No,Offline,Yes,Yes,Basic,Yes,No,Yes,Single,No,Bachelor,No,No,NaN,4.0,2.0,2.0,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.8,3.64,35,False,32500.0

In [429]:
df1.drop(['Family_Income','Skills'],axis=1,inplace=True)

In [424]:
df1['Adm_Year'] = df1['Adm_Year'].astype(float)
df1['Age'] = df1['Age'].astype(float)
df1['HSC_Pass_Year'] = df1['HSC_Pass_Year'].astype(float)
df1['Family_Income1'] = df1['Family_Income1'].astype(float)
df1['Curr_Sem1']  = df1['Curr_Sem1'].astype(float)

In [431]:
df1.dtypes

Adm_Year                                                                      float64
Gender                                                                         object
Age                                                                           float64
HSC_Pass_Year                                                                 float64
Program                                                                        object
Merit_Scholarship                                                              object
Uni_Transport                                                                  object
Learn_Mode                                                                     object
Smartphone                                                                     object
PC                                                                             object
Eng_Proficiency                                                                object
Probation                                                                      object
Suspension                                                                     object
Do you attend in teacher consultancy for any kind of academical problems?      object
Relationship                                                                   object
CoCurricular                                                                   object
Living_Arrangement                                                             object
Health_Issues                                                                  object
Physical_Disabilities                                                          object
Target                                                                        float64
Curr_Sem1                                                                     float64
Study_Hours1                                                                  float64
Study_Sessions1                                                               float64
SM_Hours1                                                                     float64
Avg_Attendance1                                                               float64
Skills1                                                                        object
Skill_Dev_Hours1                                                              float64
Interest_Area1                                                                 object
Prev_SGPA1                                                                    float64
Curr_CGPA1                                                                    float64
Completed_Credits1                                                             object
Diploma                                                                          bool
Family_Income1                                                                float64
dtype: object

In [437]:
df1['Completed_Credits1'].unique()

array(['35', '34', '39', '11', '12', '80', '132', '71', '85', '83', '73',
       '27', '86', '91', '110', '90+', '120+', '120', '76', '118', '100',
       '68', '121', '114', '77', '105', '79', '103', '70', '46', '75',
       '33', '102', '136', '122', '78', '126', '133', '84', '125', '131',
       120, '130', 80, 35, 30, 110, 104, '14', '89', '115', '88', '99',
       '117', '101', '123', '104', nan, '0', '23', '24', '26', '40', '25',
       '49', '55', '45', '65', '107', 11, '128', '48', '50', 25, '90', 24,
       '20', '53', '36', '60', '87', '2', '58', '141', '42', '22', '10',
       '13', '62', '54', '140', '111', '124', '106', '32', 132, '139',
       '113', '21', '116', '93', '64', 70, '95', '18', 90, 130, '92',
       '15', '00', '6', 75, 12, '147', '8', '72', '96', 136, '112', 125,
       '28', '31', '1', '129', '119', '127', '135', 128, 65, '67', '143',
       '63', '97', '98', '66', '144', '145', '142', '137', '138', '59',
       '134', '81', '109', '56', '108', '61', '74', '16', '29', '30',
       '51', '43'], dtype=object)

In [439]:
df1['Completed_Credits1'] = df1['Completed_Credits1'].replace({
    '90+' : 90,
    '120+' :  120
})

In [433]:
df1.shape

(1009, 33)

# fill na values

In [449]:
df1.isnull().sum()

Adm_Year                                                                         0
Gender                                                                           0
Age                                                                              0
HSC_Pass_Year                                                                    0
Program                                                                          0
Merit_Scholarship                                                                0
Uni_Transport                                                                    0
Learn_Mode                                                                       0
Smartphone                                                                       0
PC                                                                               0
Eng_Proficiency                                                                  0
Probation                                                                        0
Suspension                                                                       0
Do you attend in teacher consultancy for any kind of academical problems?        0
Relationship                                                                     0
CoCurricular                                                                     0
Living_Arrangement                                                               0
Health_Issues                                                                    0
Physical_Disabilities                                                            0
Target                                                                        1009
Curr_Sem1                                                                        0
Study_Hours1                                                                     0
Study_Sessions1                                                                  0
SM_Hours1                                                                        0
Avg_Attendance1                                                                  0
Skills1                                                                          0
Skill_Dev_Hours1                                                                 0
Interest_Area1                                                                   0
Prev_SGPA1                                                                       0
Curr_CGPA1                                                                       0
Completed_Credits1                                                               0
Diploma                                                                          0
Family_Income1                                                                   0
dtype: int64

In [440]:
# filling na values of numeric columns
df1['Age'] = df1['Age'].fillna(df1['Age'].median())
df1['HSC_Pass_Year'] = df1['HSC_Pass_Year'].fillna(df1['HSC_Pass_Year'].median())
df1['Study_Sessions1'] = df1['Study_Sessions1'].fillna(df1['Study_Sessions1'].median())
df1['SM_Hours1'] = df1['SM_Hours1'].fillna(df1['SM_Hours1'].median())
df1['Avg_Attendance1'] = df1['Avg_Attendance1'].fillna(df1['Avg_Attendance1'].median())
df1['Skill_Dev_Hours1'] = df1['Skill_Dev_Hours1'].fillna(df1['Skill_Dev_Hours1'].median())
df1['Curr_CGPA1'] = df1['Curr_CGPA1'].fillna(df1['Curr_CGPA1'].median())
df1['Completed_Credits1'] = df1['Completed_Credits1'].fillna(df1['Completed_Credits1'].median())

In [447]:
#felling categoriacl values
df1['CoCurricular'] = df1['CoCurricular'].fillna(df1['CoCurricular'].mode()[0])
df1['Uni_Transport'] = df1['Uni_Transport'].fillna(df1['Uni_Transport'].mode()[0])

In [448]:
df1.to_csv('claean.csv')

In [450]:
df1.columns

Index(['Adm_Year', 'Gender', 'Age', 'HSC_Pass_Year', 'Program',
       'Merit_Scholarship', 'Uni_Transport', 'Learn_Mode', 'Smartphone', 'PC',
       'Eng_Proficiency', 'Probation', 'Suspension',
       'Do you attend in teacher consultancy for any kind of academical problems? ',
       'Relationship', 'CoCurricular', 'Living_Arrangement', 'Health_Issues',
       'Physical_Disabilities', 'Target', 'Curr_Sem1', 'Study_Hours1',
       'Study_Sessions1', 'SM_Hours1', 'Avg_Attendance1', 'Skills1',
       'Skill_Dev_Hours1', 'Interest_Area1', 'Prev_SGPA1', 'Curr_CGPA1',
       'Completed_Credits1', 'Diploma', 'Family_Income1'],
      dtype='object')

In [452]:
# Study_Hours1 >=3 & Curr_CGPA1 a>=3.75 &  Prev_SGPA1 >=3.20 & Avg_Attendance1 >=90 & SM_Hours1 <=3 ==Excellent
# Study_Hours1 >=2 & Curr_CGPA1 a>=3.20 &  Prev_SGPA1 >=2.90 & Avg_Attendance1 >=85 & SM_Hours1 <=4 ==Good
# Study_Hours1 >=1 & Curr_CGPA1 a>=2.80 &  Prev_SGPA1 >=2.50 & Avg_Attendance1 >=75 & SM_Hours1 <=5 ==Average
# other will be poor
import numpy as np

df1['Target'] = np.where(
    (df1['Study_Hours1'] >= 3) & (df1['Curr_CGPA1'] >= 3.75) &
    (df1['Prev_SGPA1'] >= 3.20) & (df1['Avg_Attendance1'] >= 90) &
    (df1['SM_Hours1'] <= 3), 'Excellent',
    
    np.where(
        (df1['Study_Hours1'] >= 2) & (df1['Curr_CGPA1'] >= 3.20) &
        (df1['Prev_SGPA1'] >= 2.90) & (df1['Avg_Attendance1'] >= 85) &
        (df1['SM_Hours1'] <= 4), 'Good',
        
        np.where(
            (df1['Study_Hours1'] >= 1) & (df1['Curr_CGPA1'] >= 2.80) &
            (df1['Prev_SGPA1'] >= 2.50) & (df1['Avg_Attendance1'] >= 75) &
            (df1['SM_Hours1'] <= 5), 'Average',
            
            'Poor'
        )
    )
)

In [453]:
df1.isnull().sum()

Adm_Year                                                                      0
Gender                                                                        0
Age                                                                           0
HSC_Pass_Year                                                                 0
Program                                                                       0
Merit_Scholarship                                                             0
Uni_Transport                                                                 0
Learn_Mode                                                                    0
Smartphone                                                                    0
PC                                                                            0
Eng_Proficiency                                                               0
Probation                                                                     0
Suspension                                                                    0
Do you attend in teacher consultancy for any kind of academical problems?     0
Relationship                                                                  0
CoCurricular                                                                  0
Living_Arrangement                                                            0
Health_Issues                                                                 0
Physical_Disabilities                                                         0
Target                                                                        0
Curr_Sem1                                                                     0
Study_Hours1                                                                  0
Study_Sessions1                                                               0
SM_Hours1                                                                     0
Avg_Attendance1                                                               0
Skills1                                                                       0
Skill_Dev_Hours1                                                              0
Interest_Area1                                                                0
Prev_SGPA1                                                                    0
Curr_CGPA1                                                                    0
Completed_Credits1                                                            0
Diploma                                                                       0
Family_Income1                                                                0
dtype: int64

In [454]:
df1.to_csv('Clean.csv')

In [455]:
df1.head()

,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,PC,Eng_Proficiency,Probation,Suspension,Do you attend in teacher consultancy for any kind of academical problems?,Relationship,CoCurricular,Living_Arrangement,Health_Issues,Physical_Disabilities,Target,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1,Diploma,Family_Income1
7,2021.0,Female,22.0,2019.0,BCSE,Yes,No,Offline,Yes,Yes,Basic,Yes,No,Yes,Single,No,Bachelor,No,No,Good,4.0,2.0,2.0,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.80,3.64,35,False,32500.0
11,2021.0,Male,22.0,2019.0,BCSE,No,No,Offline,Yes,Yes,Basic,No,No,No,Single,No,Bachelor,Yes,No,Good,4.0,3.5,2.0,2.0,90.0,Programming,1.0,Data Science,3.40,3.53,35,False,20000.0
15,2021.0,Male,20.0,2020.0,BCSE,Yes,Yes,Offline,Yes,Yes,Basic,No,No,Yes,Single,Yes,Family,No,No,Good,4.0,2.0,1.0,1.0,95.0,Programming,3.0,Machine Learning / Deep Learning,3.93,3.89,35,False,30000.0
18,2021.0,Male,21.0,2020.0,BCSE,Yes,No,Online,Yes,Yes,Advance,No,No,Yes,In a relationship,No,Family,No,No,Average,4.0,1.0,2.0,3.0,95.0,Programming,1.0,Artificial Intelligence,3.10,3.50,35,False,25000.0
20,2021.0,Female,21.0,2019.0,BCSE,Yes,No,Offline,Yes,Yes,Intermediate,No,No,Yes,Single,Yes,Bachelor,No,No,Good,4.0,3.0,2.0,2.0,96.0,Web development skill(Frontend),1.0,Web Development,3.81,3.65,34,False,30000.0